.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: space-between;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.hamdast:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLiom:global(.__wab_instance) {
    right: 0;
    left: 0;
    top: 0;
    display: flex;
  }
}
.svg__fkEs {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
}
.paziresh24Avatar:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Avatar:global(.__wab_instance) {
    width: var(--token-QMEhwYzwsf71);
    height: var(--token-QMEhwYzwsf71);
  }
}
.freeBox__zSfpX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.freeBox__eKo7V {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: 65px;
  left: 0px;
  right: 0px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eKo7V {
    top: 50px;
    left: 0;
    bottom: auto;
    right: 0;
  }
}
.progress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  color: #8254c6;
  min-width: 0;
  padding: 0px;
}
.freeBox__fwEj {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  overflow: auto;
  max-height: 100%;
  left: 0;
  top: 0;
  right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 88px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fwEj {
    padding-top: 68px;
    margin: 0px;
  }
}
.reveal__simfe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.messageLiom:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  width: 100%;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.text___91S8B {
  text-align: right;
  width: auto;
}
.freeBox__t6IbZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__l3ELo {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox___2Ydx {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: #ffffff;
  box-shadow: 0px -1px 10px 0px #0000000d;
  margin-top: 5px;
  border-right-width: 6px;
  border-right-style: solid;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  column-gap: 8px;
  min-width: 0;
  border-radius: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy)
    var(--token-6eH8UjLOmr7v) var(--token-6eH8UjLOmr7v);
  padding: 8px 10px 8px 8px;
}
.img__uydhd {
  object-fit: fill;
  max-width: 100%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 0px 4px #0307121a;
  filter: saturate(82%) invert(30%) brightness(131%);
  flex-shrink: 0;
  border-radius: 50%;
}
.img__uydhd > picture > img {
  object-fit: fill;
}
.freeBox__dgmGx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0px;
  min-width: 0;
  padding: 0px 8px;
}
.text__se8Ru {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
}
.text__mI9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-h-BgcI1FtWRI);
  font-weight: 100;
}
.freeBox__c1Ue {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25px;
  height: 25px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  background: #ffffff82;
  cursor: pointer;
  border-radius: 100%;
  padding: 3px;
}
.svg__fCcuL {
  object-fit: cover;
  max-width: 100%;
  color: var(--token--fsPf0hcXOpA);
  width: 20px;
  height: 20px;
  transform: translateX(-1px) translateY(0px) translateZ(0px);
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__fCcuL {
    z-index: 0;
    left: auto;
    top: auto;
    position: relative;
    width: 20px;
    bottom: auto;
    right: auto;
    height: 20px;
    flex-shrink: 0;
  }
}
.svg__avLq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token--fsPf0hcXOpA);
  width: 20px;
  height: 20px;
  transform: translateX(-1px) translateY(0px) translateZ(0px);
  cursor: pointer;
  flex-shrink: 0;
}
.freeBox__t3OzC {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 25px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  background: #ffffff82;
  cursor: pointer;
  border-radius: 100px;
  padding: 3px;
}
.svg__o5Pbm {
  object-fit: cover;
  max-width: 100%;
  color: var(--token--fsPf0hcXOpA);
  width: 20px;
  height: 20px;
  transform: translateX(-1px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__o5Pbm {
    z-index: 20;
  }
}
.svg__wc7Vv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token--fsPf0hcXOpA);
  width: 20px;
  height: 20px;
  transform: translateX(-1px) translateY(0px) translateZ(0px);
  cursor: pointer;
  flex-shrink: 0;
}
.text__m641N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__ssEaT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ssEaT {
    left: 0;
    top: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxglobal_unnamedGlobalGroupOfVariants_unnamedVariant__ssEaTYcZU {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.reveal__ekaj9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.testOptionsLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  right: auto;
  bottom: auto;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testOptionsLiom:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.text__m0ODd {
  text-align: right;
  width: 100%;
  color: #535353;
  min-width: 0;
}
.peyliom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-top-right-radius: var(--token-3WxvfyIdJppy);
  border-top-left-radius: var(--token-3WxvfyIdJppy);
  background: var(--token-jgohepLVeKvh);
  row-gap: var(--token-QMEhwYzwsf71);
  min-width: 0;
  min-height: 0;
  padding: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .peyliom {
    display: flex;
  }
}
.freeBox__tmi79 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  outline-color: var(--token-QR8ATjORhQqO);
  outline-style: solid;
  outline-width: 0.1rem;
  min-width: 0;
  border-radius: var(--token-3WxvfyIdJppy);
  padding: 0px;
}
.freeBox___3QNky {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20%;
  max-width: 100%;
  background: #7444bc4d;
  min-width: 0;
  border-radius: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy) 0px 0px;
  padding: 8px;
}
.text__vCmVm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  text-align: center;
  color: var(--token-8vnfstFHZzkH);
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  min-width: 0;
}
.freeBox__yMsKs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy) 0px 0px;
  padding: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yMsKs {
    justify-content: space-between;
  }
}
.text___6KAp7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: auto;
  text-align: right;
  color: var(--token-84PkxcVKH9-F);
  font-weight: 700;
}
.freeBox__fzriJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  padding: 0px;
}
.freeBox__lw1Sg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  column-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: 0px;
}
.text__jM7SQ {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-zux6fVI6aE30);
  text-decoration-line: line-through;
  font-size: var(--token-KUiXUfHPkqkm);
}
.text__dkBnr {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-84PkxcVKH9-F);
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
}
.text__cdaYx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-mIaQ7cfg3AGq);
  color: var(--token-jgohepLVeKvh);
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-omrXvBNBcWTN);
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__n3Jkj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tf8IY {
  font-size: var(--token-KUiXUfHPkqkm);
  padding-left: 0px;
}
.svg__a8EU {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-jgohepLVeKvh);
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  transform: none;
}
.peyPardakht24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-top-right-radius: var(--token-3WxvfyIdJppy);
  border-top-left-radius: var(--token-3WxvfyIdJppy);
  background: var(--token-jgohepLVeKvh);
  row-gap: var(--token-QMEhwYzwsf71);
  min-width: 0;
  min-height: 0;
  padding: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .peyPardakht24 {
    display: flex;
  }
}
.freeBox___4Po84 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  outline-color: var(--token-s_XuzePAGmOh);
  outline-style: solid;
  outline-width: 0.1rem;
  min-width: 0;
  border-radius: var(--token-3WxvfyIdJppy);
  padding: 0px;
}
.freeBox__rfjx4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20%;
  max-width: 100%;
  background: var(--token-ezMpHdKVwSWQ);
  min-width: 0;
  border-radius: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy) 0px 0px;
  padding: 8px;
}
.text__vsD4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  text-align: center;
  color: var(--token-8vnfstFHZzkH);
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  min-width: 0;
}
.freeBox___5GxOe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy) 0px 0px;
  padding: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5GxOe {
    justify-content: space-between;
  }
}
.text__kM18M {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: auto;
  text-align: right;
  color: var(--token-84PkxcVKH9-F);
  font-weight: 700;
}
.freeBox__tu96O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  padding: 0px;
}
.freeBox__fLmCw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  column-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: 0px;
}
.text___34E {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-zux6fVI6aE30);
  text-decoration-line: line-through;
  font-size: var(--token-KUiXUfHPkqkm);
}
.text__gr2AA {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-84PkxcVKH9-F);
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
}
.text___5Ddji {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-mIaQ7cfg3AGq);
  color: var(--token-jgohepLVeKvh);
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-omrXvBNBcWTN);
}
.paziresh24Button__qwVsn:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__pDjh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zlFcS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hc0LI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-top-right-radius: var(--token-3WxvfyIdJppy);
  border-top-left-radius: var(--token-3WxvfyIdJppy);
  background: var(--token-jgohepLVeKvh);
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  min-height: 0;
  padding: var(--token-6eH8UjLOmr7v);
}
.paziresh24Button__iyNRv:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__k8MFy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___6V1EU {
  position: relative;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #7444bc;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__gyOfv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__k70Z {
  width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__rymi9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.buttonLiom3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__nFwca {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___6Nd0F {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.shop:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ogomZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__eNwsz {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}
.freeBox__g2VuF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__vi1Gs {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__xjXfU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "yekan_bakh", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xjXfU {
    font-size: 16px;
  }
}
.text__nYbpm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "yekan_bakh", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nYbpm {
    font-size: 14px;
  }
}
.freeBox__q6Dc0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: var(--token-3WxvfyIdJppy);
  row-gap: 8px;
  min-width: 0;
}
.freeBox__ulBfG {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__v9Jau {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: none;
  left: auto;
  top: auto;
  row-gap: 5px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px 8px 8px;
  border: 1px solid #d2d2d2;
}
.freeBox__au7Hq {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #7444bc33;
  left: 8px;
  top: -170px;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: none;
  padding: 3px 8px 2px;
}
.text__llNk3 {
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  font-weight: 500;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__yQkXd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__j7Ur4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  text-align: right;
  color: #535353;
  font-weight: 700;
  font-size: 18px;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j7Ur4 {
    font-size: 14px;
    align-self: center;
  }
}
.freeBox__zXKx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__wn3Xz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: 10px;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #898989;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: line-through;
  text-overflow: clip;
}
.text__mjeq8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  font-family: "yekan_bakh", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__omKfw {
  display: flex;
  position: sticky;
  width: 40px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}
.text___47Ues {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__bUcOj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-start;
  color: #8254c6;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: underline;
  min-width: 0;
  display: none;
  padding: 0px 8px;
}
.freeBox__kGcM {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  display: none;
  border-radius: 8px;
  padding: 0px;
  margin: 8px;
}
.freeBox__nKwd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg___7Qq1 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 30px;
  color: #8254c6;
  align-self: center;
}
.freeBox__qir8S {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
  background: #00c3711a;
  min-width: 0;
  min-height: 0;
  border-radius: 5px;
  padding: 8px;
}
.button12:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: 30px;
  align-self: center;
}
.svg__cpaQx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___342Wb {
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__nCPw {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.buttonLiom6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___1UTqM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__d38Jr {
  font-size: var(--token-podr231_9RBN);
  padding-left: 0px;
  font-weight: 700;
}
.svg__wEuC1 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-jgohepLVeKvh);
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  transform: none;
}
.freeBox__h1IyH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SXG6cjnWZyNC);
  margin-top: 8px;
  column-gap: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 4px;
  border: 1px dashed var(--token-bHHJuMx2zyxz);
}
.img__fhS60 {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 15px;
}
.img__fhS60 > picture > img {
  object-fit: cover;
}
.text__fbuyw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-LqD8W4lcEdIj);
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.freeBox___1Hpgz {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 3;
  background: var(--token-jgohepLVeKvh);
  right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Hpgz {
    left: auto;
    top: auto;
    right: auto;
  }
}
.svg__uaLit {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-PvZN5zHgaOeZ);
  flex-shrink: 0;
}
.svg__kgnAq {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 80px;
  color: var(--token-QR8ATjORhQqO);
  flex-shrink: 0;
}
.freeBox__mD9W {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 3;
  background: var(--token-jgohepLVeKvh);
  right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.svg__l4PRq {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-PvZN5zHgaOeZ);
  flex-shrink: 0;
}
.svg__kl6W7 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 80px;
  color: var(--token-QR8ATjORhQqO);
  flex-shrink: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  justify-self: center;
  position: absolute;
  left: 0;
  top: 30%;
  right: 0;
  bottom: auto;
  padding: 0px;
}
.modal__modal :global(.ant-modal-content) {
  outline: none;
  border-radius: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal:global(.__wab_instance) {
    position: absolute;
    left: 0;
    top: auto;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal__modal :global(.ant-modal-content) {
    outline: none;
    border-radius: 18px;
    margin: 0px;
  }
}
.freeBox__gd2U {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff00;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  min-height: 0;
  border-radius: 50px;
  padding: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gd2U {
    height: 100%;
    justify-content: space-between;
    background: #ffffff00;
    row-gap: var(--token-KVcr9NiMwFLr);
    column-gap: 0px;
    border-radius: 30px;
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.freeBox___5JxJ9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5JxJ9 {
    height: 100%;
    min-height: 0;
  }
}
.svg__vHyEk {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  color: var(--token-mIaQ7cfg3AGq);
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__vHyEk {
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
  }
}
.freeBox___8Dz03 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Dz03 {
    height: 100%;
    min-height: 0;
  }
}
.text__y5K4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-7E1YyiP6sAP9);
  color: var(--token-SH2GlK2U7a6u);
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__y5K4A {
    font-size: var(--token-7E1YyiP6sAP9);
    padding-bottom: 10px;
  }
}
.text__b4Mg3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-P7bIEG7op5AV);
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b4Mg3 {
    font-size: var(--token-KUiXUfHPkqkm);
    text-align: justify;
    padding: 0px 0px 20px;
  }
}
.text__g8LmD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g8LmD {
    text-align: center;
    font-weight: 700;
    text-decoration-line: none;
    color: var(--token-QR8ATjORhQqO);
    font-size: 12px;
    display: none;
  }
}
.freeBox__iUi6R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iUi6R {
    padding-right: 0px;
    padding-left: 0px;
    column-gap: 10px;
    row-gap: 0px;
  }
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  z-index: 5;
  min-width: 0;
}
.svg__hPqk1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__id937 {
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__id937 {
    font-size: var(--token-podr231_9RBN);
  }
}
.svg__j4U1T {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 150%;
  color: var(--token-jgohepLVeKvh);
}
.freeBox__mqWcN {
  width: auto;
  height: auto;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  background: var(--token-ieogzVSSyrRx);
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mqWcN {
    display: block;
  }
}
.shop2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___60P5P {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff00;
  z-index: 200;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  min-height: 0;
  border-radius: 50px;
  padding: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___60P5P {
    height: 100%;
    justify-content: space-between;
    background: #ffffff00;
    row-gap: var(--token-KVcr9NiMwFLr);
    column-gap: 0px;
    border-radius: 30px;
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.freeBox___4V5E2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4V5E2 {
    height: 100%;
    min-height: 0;
  }
}
.svg___3Bzdx {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  color: var(--token-mIaQ7cfg3AGq);
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___3Bzdx {
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
  }
}
.freeBox__dwtdu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dwtdu {
    height: 100%;
    min-height: 0;
  }
}
.text___4KOyK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-7E1YyiP6sAP9);
  color: var(--token-mIaQ7cfg3AGq);
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4KOyK {
    font-size: var(--token-7E1YyiP6sAP9);
    padding-bottom: 10px;
  }
}
.text__dbYkD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-P7bIEG7op5AV);
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dbYkD {
    font-size: var(--token-KUiXUfHPkqkm);
    text-align: justify;
    padding: 0px 0px 20px;
  }
}
.text__sFt8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sFt8 {
    text-align: center;
    font-weight: 700;
    text-decoration-line: none;
    color: var(--token-QR8ATjORhQqO);
    font-size: 12px;
    display: none;
  }
}
.freeBox__uq9Xa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uq9Xa {
    padding-right: 0px;
    padding-left: 0px;
    column-gap: 10px;
    row-gap: 0px;
  }
}
.buttonLiom8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__wvO9J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dyyIt {
  font-size: var(--token-podr231_9RBN);
  padding-left: 0px;
  font-weight: 700;
  padding-bottom: 0px;
}
.svg__l4Ax9 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-jgohepLVeKvh);
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  transform: none;
}
.freeBox__pVrt2 {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  column-gap: 8px;
  padding: 16px 14px 16px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pVrt2 {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
  }
}
.rate2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-ieogzVSSyrRx);
  cursor: pointer;
  column-gap: 5px;
  border-radius: 50px;
  padding: 4px 8px;
  border: 1px solid #7444bc;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rate2 {
    padding-bottom: 2px;
    padding-top: 2px;
    column-gap: 3px;
    row-gap: 0px;
  }
}
.text__bnLTr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-size: var(--token-podr231_9RBN);
  user-select: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bnLTr {
    font-size: var(--token-KUiXUfHPkqkm);
  }
}
.text__sCusy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Gq2ZclrSKBOi);
  font-weight: 700;
  user-select: none;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sCusy {
    font-size: var(--token-podr231_9RBN);
  }
}
.freeBox__beiZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 3px;
  min-width: 0;
  padding: 0px;
}
.embedHtml__sp9I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 66px;
  height: auto;
  flex-shrink: 0;
}
.embedHtml__zbw1H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  right: auto;
  width: auto;
  justify-self: flex-start;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .embedHtml__zbw1H:global(.__wab_instance) {
    left: auto;
    top: auto;
    position: relative;
    right: auto;
  }
}
.rateinfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 30vh;
  z-index: 1;
  position: fixed;
  right: 0;
  padding: 0px;
}
.freeBox__fyxSs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.text__raXdu {
  text-align: justify;
  font-size: var(--token-podr231_9RBN);
}
.freeBox___162Ul {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.buttonLiom4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___9GL0S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wRIl {
  color: var(--token-eAGGWpRlc3eE);
  font-size: var(--token-podr231_9RBN);
}
.svg__uc3Ux {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.buttonLiom2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oh9Po {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zexZe {
  color: var(--token-eAGGWpRlc3eE);
  font-size: var(--token-podr231_9RBN);
}
.svg__yHsut {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.text___6C6Jr {
  text-align: right;
  font-size: var(--token-7E1YyiP6sAP9);
}
.comments:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__svq3B {
  font-size: var(--token-Gq2ZclrSKBOi);
  width: 100%;
  text-align: right;
  min-width: 0;
}
.comment:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tovxa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__ab80T {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}
.freeBox__uKerc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text___9LMxh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.freeBox___53UI0 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
  min-width: 0;
  padding: 8px;
}
.freeBox__cHgjg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  padding: 0px;
}
.freeBox__sIuhj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__wPwF {
  width: auto;
  height: 50px;
  max-width: 100%;
  text-align: right;
  font-size: 40px;
  font-weight: 700;
}
.text__kl9Wp {
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-KUiXUfHPkqkm);
  font-weight: 700;
  align-self: center;
  white-space: pre;
  min-height: 0;
}
.embedHtml__t2Vx3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 75px;
  height: auto;
}
.text__bjIe {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-h-BgcI1FtWRI);
  font-weight: 400;
}
.text__x6G7U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 13px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x6G7U {
    text-align: justify;
  }
}
.freeBox__qeu81 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #f5f5f5;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qeu81 {
    border-bottom-color: #f5f5f5;
  }
}
.freeBox__yDlfe {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__yPqap {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  max-width: 100%;
  background: var(--token-RweFaeFLMIES);
  left: auto;
  top: auto;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 8px;
}
.text___0Ocim {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: var(--token-Gq2ZclrSKBOi);
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0Ocim {
    color: #ffffff;
  }
}
.freeBox__uiLj9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__ztDNx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__oiPj9 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 13px;
}
.text__bGi9S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
}
.freeBox__o7Al {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.stars:global(.__wab_instance) {
  max-width: 100%;
  width: 14px;
  height: auto;
  flex-shrink: 0;
}
.text__k4Z7I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.error {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100vh;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  right: 0;
  background: #f8f8f8;
  row-gap: 8px;
  padding: 16px;
}
.freeBox__e1V4D {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__hgqx5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-j-ZwOKbpUCqd);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__juuky {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--token-HxnmpURJ0E1r);
  font-weight: 700;
  min-width: 0;
}
.buttonLiom5:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom5:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__gfK54 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wqhG {
  font-size: 16px;
}
.svg___1WRsn {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-ieogzVSSyrRx);
}
