.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  position: fixed;
  right: 0;
  height: 55px;
}
.svg__gWTuv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0jflij2Drauk);
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__ervem {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___58OuO {
  width: auto;
  font-weight: 700;
  color: var(--token-NXlEQg0VOw-c);
  font-size: 16px;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sidebarWindow:global(.__wab_instance) {
  position: relative;
  height: auto;
  z-index: 5;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarWindow:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.freeBox__slU7O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__pSRaw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-NXlEQg0VOw-c);
  min-width: 0;
}
.buttonLiom2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__nhKe1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xHqUc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.lineClomp2:global(.__wab_instance) {
  max-width: 100%;
}
.text__kVxtp {
  text-align: right;
  width: 100%;
  min-width: 0;
}
.svg__geRvd {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.text__kSk9 {
  font-weight: 700;
}
.freeBox__nQ2Fe {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-content: space-between;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.freeBox__nQ2Fe > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nQ2Fe {
    height: auto;
    justify-items: center;
    align-content: space-between;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nQ2Fe > * {
    grid-column: 4;
  }
}
.freeBoxglobal_unnamedGlobalGroupOfVariants_unnamedVariant__nQ2FeYcZU > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxglobal_unnamedGlobalGroupOfVariants_unnamedVariant__nQ2FeYcZU > * {
    grid-column: 4;
  }
}
.freeBox__ztqih {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  right: auto;
  z-index: 0;
  max-height: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 30px 8px 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ztqih {
    height: auto;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 40px 0px 80px;
    margin: 0px;
  }
}
.freeBox__rLxvI {
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 5px;
  max-width: 100%;
  left: 0px;
  top: -7px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  margin: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rLxvI {
    top: 14px;
    position: sticky;
    left: 0px;
    width: 100%;
    min-width: 0;
    margin: 0px;
  }
}
.freeBox___6FYrn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___4PuQy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.chatBoxRef {
  position: absolute;
  left: 0px;
  top: 20px;
  padding-bottom: 100px;
  max-height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  row-gap: 8px;
  padding-top: 40px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .chatBoxRef {
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    left: 0px;
    top: 40px;
    position: absolute;
    width: 100%;
    min-width: 0;
  }
}
.reveal__wpLRq:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
  display: block;
  min-width: 0;
}
.messageLiom:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.text__pPnwC {
  text-align: right;
  width: auto;
}
.freeBox__ejhAs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25px;
  height: 25px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  background: #ffffff82;
  cursor: pointer;
  border-radius: 100%;
  padding: 3px;
}
.svg__ggssY {
  object-fit: cover;
  max-width: 100%;
  color: var(--token--fsPf0hcXOpA);
  width: 20px;
  height: 20px;
  transform: translateX(-1px) translateY(0px) translateZ(0px);
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ggssY {
    z-index: 0;
    left: auto;
    top: auto;
    position: relative;
    width: 20px;
    bottom: auto;
    right: auto;
    height: 20px;
    flex-shrink: 0;
  }
}
.freeBox__lnlxy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 25px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  background: #ffffff82;
  cursor: pointer;
  border-radius: 100px;
  padding: 3px;
}
.svg__oj7Or {
  object-fit: cover;
  max-width: 100%;
  color: var(--token--fsPf0hcXOpA);
  width: 20px;
  height: 20px;
  transform: translateX(-1px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__oj7Or {
    z-index: 20;
  }
}
.text__f1Zjo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__xBme8 {
  display: grid;
  position: absolute;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 16px;
  left: 0px;
  top: 643px;
  z-index: 2;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__xBme8 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__xBme8 {
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    top: auto;
    justify-items: center;
    align-content: flex-end;
    right: 0;
    bottom: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__xBme8 > * {
    grid-column: 4;
  }
}
.freeBox__wM5Uw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wM5Uw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox___7Fqi2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Fqi2 {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: -30vh;
    width: auto;
    right: 0;
    row-gap: 8px;
    column-gap: 0px;
    padding: 0% 0px;
    margin: 0px;
  }
}
.freeBox__jnfKa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jnfKa {
    display: flex;
    flex-direction: column;
    position: relative;
    left: auto;
    top: auto;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.svg__whkzy {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
}
.svg__fU2L7 {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  color: #071e3a;
  border-radius: 16px;
}
.text__bx83C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.text__gGkmi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.text__ksxVg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ksxVg {
    text-align: center;
    padding-top: 8px;
    display: none;
  }
}
.text__xaxCy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xaxCy {
    display: block;
  }
}
.freeBox__bfXsw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  row-gap: 8px;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bfXsw {
    align-items: center;
    justify-content: flex-start;
  }
}
.freeBox__lnerk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-ieogzVSSyrRx);
  opacity: 0.8;
  box-shadow: 0px 2px 10px 0px #0000001f;
  border-radius: 16px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lnerk {
    opacity: 1;
    background: var(--token-CLN8EitO07Ao);
  }
}
.text___5KHP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  white-space: pre;
}
.reveal__xbg9Z:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__xbg9Z:global(.__wab_instance) {
    padding-bottom: 8px;
  }
}
.freeBox__tz0Y3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #0000001a;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tz0Y3 {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
    min-width: 0;
  }
}
.bottomInput {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background: none;
  box-shadow: none;
  column-gap: 5px;
  min-width: 0;
  padding: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bottomInput {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.freeBox__oNon {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sendIcon:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: center;
}
.freeBox___4JxQr {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: -32px;
  left: 0;
  right: 0;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4JxQr {
    justify-content: center;
    align-items: center;
    top: -32px;
    padding: 0px;
  }
}
.buttonLiom7:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom7:global(.__wab_instance) {
    display: flex;
  }
}
.svg__mOyJx {
  position: relative;
  object-fit: cover;
  width: 18px;
  height: 18px;
  color: var(--token-zux6fVI6aE30);
  margin: 0px 8px 0px 0px;
}
.text__jhpGr {
  font-weight: 300;
  padding-top: 2px;
  padding-bottom: 2px;
  color: var(--token-eAGGWpRlc3eE);
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jhpGr {
    display: block;
  }
}
.svg___4Bwqd {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__u6Gi0 {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: 0;
  z-index: 100;
  right: 0;
  bottom: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u6Gi0 {
    z-index: 100;
    width: 100%;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    position: relative;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__iBt7L {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 5px 5px #0000000d;
  column-gap: 16px;
  min-width: 0;
  padding: 10px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iBt7L {
    padding-top: 5px;
    padding-bottom: 5px;
    column-gap: 8px;
    row-gap: 0px;
  }
}
.freeBox__fAaWw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fAaWw {
    background: none;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__zdciT {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zdciT {
    width: 25px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text__dU8Mn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dU8Mn {
    align-self: center;
    font-size: 12px;
  }
}
.freeBox__yGyXv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yGyXv {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg___7FHf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___7FHf {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text__sPpI7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sPpI7 {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.freeBox__xva3B {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8254c61a;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xva3B {
    background: #8254c61a;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__fp2K {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__fp2K {
    width: 25px;
    height: 20px;
    color: var(--token-PvbqFVJaOepe);
    flex-shrink: 0;
  }
}
.text__tgJzj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-QR8ATjORhQqO);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tgJzj {
    align-self: center;
    color: var(--token-QR8ATjORhQqO);
    font-size: 12px;
  }
}
.freeBox__vOh9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vOh9 {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__id8In {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__id8In {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text__xxmNs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xxmNs {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.freeBox__pLpDb {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  display: none;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pLpDb {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__dbu9G {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__dbu9G {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text__eiAC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eiAC {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.freeBox__icTbQ {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  display: none;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__icTbQ {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__aFqFr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__aFqFr {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text__u4Cgt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u4Cgt {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.embedHtml___9LDwa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #7444bc;
}
.section___8JhqX {
  display: grid;
  position: absolute;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #f8f8f8;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
  margin: 0px;
}
.section___8JhqX > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___8JhqX {
    top: 0px;
    left: 0px;
    width: auto;
    z-index: 1;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___8JhqX > * {
    grid-column: 4;
  }
}
.svg__ppm60 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-QR8ATjORhQqO);
}
.directDialogChatbot:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__kVfjr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff00;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  min-height: 0;
  border-radius: 50px;
  padding: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kVfjr {
    height: 100%;
    justify-content: space-between;
    background: #ffffff00;
    row-gap: var(--token-KVcr9NiMwFLr);
    column-gap: 0px;
    border-radius: 30px;
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.freeBox__xbfW0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xbfW0 {
    height: 100%;
    min-height: 0;
  }
}
.svg___3ZIu {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  color: var(--token-mIaQ7cfg3AGq);
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___3ZIu {
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
  }
}
.freeBox__ynBY {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ynBY {
    height: 100%;
    min-height: 0;
  }
}
.text__vUfw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vUfw {
    text-align: center;
    font-weight: 700;
    text-decoration-line: none;
    color: var(--token-QR8ATjORhQqO);
    font-size: 12px;
    display: none;
  }
}
.text__asAh8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-7E1YyiP6sAP9);
  color: var(--token-qc3RjKzQDJ33);
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__v3O3A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v3O3A {
    padding-right: 0px;
    padding-left: 0px;
    column-gap: 10px;
    row-gap: 0px;
  }
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  z-index: 5;
  min-width: 0;
}
.svg__fD9Qf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4LsGm {
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4LsGm {
    font-size: var(--token-podr231_9RBN);
  }
}
.svg__f7Jce {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 150%;
  color: var(--token-jgohepLVeKvh);
}
.freeBox__f0EMg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff00;
  z-index: 200;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  min-height: 0;
  border-radius: 50px;
  padding: var(--token-KVcr9NiMwFLr);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f0EMg {
    height: 100%;
    justify-content: space-between;
    background: #ffffff00;
    row-gap: var(--token-KVcr9NiMwFLr);
    column-gap: 0px;
    border-radius: 30px;
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.freeBox___5SxCm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5SxCm {
    height: 100%;
    min-height: 0;
  }
}
.svg__qOw59 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  color: var(--token-mIaQ7cfg3AGq);
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qOw59 {
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
  }
}
.freeBox__pNhI {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pNhI {
    height: 100%;
    min-height: 0;
  }
}
.text__oi24J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-7E1YyiP6sAP9);
  color: var(--token-mIaQ7cfg3AGq);
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oi24J {
    font-size: var(--token-7E1YyiP6sAP9);
    padding-bottom: 10px;
  }
}
.text__nMwrc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-P7bIEG7op5AV);
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nMwrc {
    font-size: var(--token-KUiXUfHPkqkm);
    text-align: justify;
    padding: 0px 0px 20px;
  }
}
.text__lgENm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lgENm {
    text-align: center;
    font-weight: 700;
    text-decoration-line: none;
    color: var(--token-QR8ATjORhQqO);
    font-size: 12px;
    display: none;
  }
}
.freeBox__zVyT6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zVyT6 {
    padding-right: 0px;
    padding-left: 0px;
    column-gap: 10px;
    row-gap: 0px;
  }
}
.buttonLiom8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__hsd6D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__f9Ec8 {
  font-size: var(--token-podr231_9RBN);
  padding-left: 0px;
  font-weight: 700;
  padding-bottom: 0px;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__lYwgq {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-jgohepLVeKvh);
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  transform: none;
}
.freeBox__vcZiy {
  flex-direction: row;
  position: fixed;
  width: auto;
  height: 50px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 3;
  right: 0;
  background: linear-gradient(0deg, #f8f8f800 0%, #f8f8f8 15%);
  display: none;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vcZiy {
    display: flex;
  }
}
.freeBox__atu6W {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__atu6W {
    top: auto;
    left: auto;
    width: auto;
    column-gap: 8px;
    row-gap: 0px;
    border-radius: 50px;
    padding: 4px 6px 4px 8px;
    border-width: 1px;
  }
}
.svg__gmTXx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0jflij2Drauk);
  width: 30px;
  height: 30px;
  display: block;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__gmTXx {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
  }
}
.text__tHDgz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-weight: 500;
  min-width: 0;
}
.freeBox___2JhaV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  border-radius: 50px;
  padding: 0px;
  border-width: 1px;
}
.freeBox___9Q80 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 0px;
}
.freeBox__tC5Q6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  padding: 0px;
}
.text__y3LX3 {
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  white-space: pre-wrap;
  padding-left: 8px;
  padding-right: 8px;
}
.text__cstBu {
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  white-space: pre;
}
.svg__ctuGq {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 25px;
}
.svg__w3PcR {
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  height: 100%;
  align-self: flex-start;
  color: var(--token-QR8ATjORhQqO);
  flex-shrink: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__w3PcR {
    display: none;
  }
}
.buttonLiom4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uB8NK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qsT0C {
  display: none;
}
.svg__iyHcA {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-hb610yGAurc2);
  margin: 4px;
}
.svg___0VInR {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.svg__tjAsw {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 25px;
  color: #f8f8f8;
  flex-shrink: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tjAsw {
    display: none;
  }
}
.drawer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 70%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .drawer:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox___7JD1Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7JD1Q {
    display: none;
  }
}
.freeBox__nqKMj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__v1Zlm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-Yi5YqU3IyFTB);
  min-width: 0;
}
.buttonLiom3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__vMxj0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.lineClomp:global(.__wab_instance) {
  max-width: 100%;
}
.text___2Z7K {
  text-align: right;
  font-weight: 500;
}
.svg___91Rh4 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.sidebarWindow3:global(.__wab_instance) {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
}
.freeBox__eqGpu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1px;
  min-width: 0;
  padding: 0px;
}
.text__onZ9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-NXlEQg0VOw-c);
  font-size: 16px;
  min-width: 0;
}
.freeBox___7Sh6O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 0px 0px 2px;
}
.buttonLiom6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__w5Sss {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ylDap {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.lineClomp4:global(.__wab_instance) {
  max-width: 100%;
}
.text__o3S4K {
  text-align: right;
  width: 100%;
  min-width: 0;
}
.svg__vhLqi {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.text__qBbq {
  font-weight: 700;
}
.freeBox__z4Az9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z4Az9 {
    display: none;
  }
}
.svg__a3C1H {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  width: 30px;
  flex-shrink: 0;
}
.text__ejZs3 {
  text-align: right;
  align-self: center;
  font-size: 20px;
}
.svg___6Ao8H {
  object-fit: cover;
  max-width: 100%;
  width: 0px;
  height: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___6Ao8H {
    display: none;
  }
}
.embedHtml__iMa8M:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__zunb {
  display: grid;
  position: absolute;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  background: #f8f8f8;
  z-index: 2;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
  margin: 0px;
}
.section__zunb > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zunb {
    z-index: 3;
    left: 0;
    top: 0;
    position: fixed;
    right: 0;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zunb > * {
    grid-column: 4;
  }
}
.svg__bXnl {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-QR8ATjORhQqO);
}
.freeBox__w0Vni {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  background: #f8f8f8;
  row-gap: 24px;
  padding: 8px;
}
.svg__ivgFi {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ivgFi {
    color: var(--token-QR8ATjORhQqO);
  }
}
.text__qUmCv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--token-nAFD6CLl8U9b);
}
.text__gi2Sx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: center;
}
.buttonLiom5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jcRrq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__x1Z5A {
  font-weight: 700;
  font-size: 16px;
}
.svg___2TkJu {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__loD3O {
  flex-direction: column;
  position: relative;
  width: 0px;
  height: 0px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__loD3O {
    display: flex;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: 0;
  z-index: 100;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.freeBox__rl66W {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 5px 5px #0000000d;
  column-gap: 16px;
  min-width: 0;
  padding: 10px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rl66W {
    padding-top: 5px;
    padding-bottom: 5px;
    column-gap: 8px;
    row-gap: 0px;
  }
}
.freeBox__hSprR {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hSprR {
    background: none;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__w0FUv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__w0FUv {
    width: 25px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text__k6Zxn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__k6Zxn {
    align-self: center;
    font-size: 12px;
  }
}
.freeBox__jzKxt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8254c61a;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jzKxt {
    background: #8254c61a;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__zYx5S {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zYx5S {
    width: 25px;
    height: 20px;
    color: var(--token-PvbqFVJaOepe);
    flex-shrink: 0;
  }
}
.text__sRWht {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-QR8ATjORhQqO);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sRWht {
    align-self: center;
    color: var(--token-QR8ATjORhQqO);
    font-size: 12px;
  }
}
.freeBox__rcFg1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rcFg1 {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__yev6N {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__yev6N {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text__pzpxb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pzpxb {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.freeBox___8J7Jj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8J7Jj {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__zmOgC {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zmOgC {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text__e2Zco {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e2Zco {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.freeBox___4ExW {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  display: none;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ExW {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__h5YrL {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__h5YrL {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text___9NcW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9NcW {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.freeBox__hFoGf {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  display: none;
  border-radius: 100px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hFoGf {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__dnkj4 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__dnkj4 {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text___1Of {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1Of {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.embedHtml__uPKuU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml__s6BY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .embedHtml__s6BY:global(.__wab_instance) {
    left: auto;
    top: 0;
    position: fixed;
    right: 0;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 16px;
}
.freeBox__zuNc9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___7DN9F {
  width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__pSqbs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 60%;
  opacity: 0.8;
}
.img > picture > img {
  object-fit: cover;
}
.text__bwFW {
  text-align: center;
  color: #535353;
  font-size: 18px;
}
.svg__oiSc {
  object-fit: cover;
  max-width: 100%;
  width: 0px;
  height: 0px;
}
