.group2 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  row-gap: 10px;
  min-width: 0;
}
.group2you {
  align-items: flex-end;
  justify-content: flex-start;
}
.rectangle5 {
  background: #e4d4fa;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  flex-direction: column;
  max-width: 80%;
  padding: 10px 10px 5px;
}
.rectangle5you {
  background: #ffffff;
  border-radius: 12px 12px 12px 0px;
}
.text__lkBE {
  display: block;
  font-size: 14px;
  font-family: "yekan_bakh";
  letter-spacing: 0.233px;
  line-height: 18px;
  color: var(--token-dUy2qmqTXN9m);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: justify;
  min-width: 0;
}
.freeBox__adrOn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  column-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.seen__wMo7S:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.seenyou__wMo7SoRrw:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__bi6In {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-PvbqFVJaOepe);
  width: 15px;
  height: 15px;
  position: absolute;
  left: 184px;
  top: -2px;
  flex-shrink: 0;
}
.svgyou__bi6InoRrw {
  display: none;
}
.text__qqzd {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "yekan_bakh";
  letter-spacing: 0.2px;
  line-height: 100%;
  color: var(--token-WxvvgatuPYoJ);
}
