.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-riOO7VGd6zgE);
  grid-row-gap: var(--token-6eH8UjLOmr7v);
  padding-top: 100px;
  padding-bottom: 50px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: #f8f8f8;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_theme_dark > * {
  grid-column: 4;
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_theme_dark > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
    grid-column: 4;
  }
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant_global_theme_dark > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant_global_theme_dark
    > * {
    grid-column: 4;
  }
}
.rootupload2 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootupload2 > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.modal__modal :global(.ant-modal-content) {
  outline: none;
  border-radius: 0px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal:global(.__wab_instance) {
    top: 0;
    right: 0;
    left: 0;
    margin: 0px;
  }
}
.backgrond:global(.__wab_instance) {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.freeBox__bw8ME {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lQb7Z {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-height: 0;
  padding: var(--token-QMEhwYzwsf71);
}
.reveal__w23Bd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.loadingConclusion__tOi26:global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__pqGnv {
  width: 100%;
  font-size: var(--token-Gq2ZclrSKBOi);
  min-width: 0;
}
.reveal__qQuBr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.loadingConclusion__gWIgE:global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__gNy2 {
  width: 100%;
  font-size: var(--token-Gq2ZclrSKBOi);
  min-width: 0;
}
.freeBox__wf4LK {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: 0;
  bottom: var(--token-QMEhwYzwsf71);
  right: 0;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.text__d0PIv {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-size: var(--token-7E1YyiP6sAP9);
  font-weight: 700;
  padding: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy)
    var(--token-3WxvfyIdJppy) var(--token-omrXvBNBcWTN);
}
.text__hcaSg {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-size: var(--token-7E1YyiP6sAP9);
  font-weight: 700;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  padding-bottom: var(--token-3WxvfyIdJppy);
  padding-top: var(--token-3WxvfyIdJppy);
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  overflow: auto;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox___1UlHn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 52;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1UlHn {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLiom:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__zjZao {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
}
.paziresh24Avatar:global(.__wab_instance) {
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.text___3Xtvz {
  font-weight: 600;
  color: var(--token-0jflij2Drauk);
}
.freeBox__neEi9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__neEi9 {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__bJxWk {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bJxWk {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__r1YVa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000014;
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r1YVa {
    width: auto;
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.freeBox__kX7 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: var(--token-6eH8UjLOmr7v);
  top: var(--token-6eH8UjLOmr7v);
  column-gap: 4px;
  padding: 0px;
}
.text__vvihb {
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___5MaCh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
}
.freeBox__jxIwr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 16px;
  min-width: 0;
  padding: 8px;
}
.img__pOfu {
  object-fit: cover;
  max-width: 100%;
  width: 55px;
  height: 55px;
  outline-width: medium;
  outline-style: solid;
  outline-offset: 3px;
  outline-color: var(--token-QR8ATjORhQqO);
  flex-shrink: 0;
  border-radius: 16px;
}
.img__pOfu > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__pOfu {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
  }
}
.freeBox__xnafF {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text___0NV1N {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  min-width: 0;
}
.text___959TW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-h-BgcI1FtWRI);
  font-weight: 500;
  color: var(--token-Yi5YqU3IyFTB);
  min-width: 0;
}
.freeBox__npzHp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-oDTVzkxdJ872);
  column-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px dashed var(--token-QR8ATjORhQqO);
}
.text__jRjS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-bottom: 0px;
  font-family: "yekan_bakh", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.text__hu6Lt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: var(--token-Gq2ZclrSKBOi);
  font-weight: 900;
  font-style: normal;
  color: var(--token-QR8ATjORhQqO);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hu6Lt {
    font-size: var(--token-7E1YyiP6sAP9);
  }
}
.svg__sgBDn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text___4AHxh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-bottom: 0px;
  font-family: "yekan_bakh", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-qc3RjKzQDJ33);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4AHxh {
    text-align: right;
  }
}
.freeBox___7SZrd {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  right: 0;
  background: #f8f8f8;
  min-height: 0;
  padding: 8px;
}
.svg___3Tumr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.freeBox___0CFi0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-KDnC5QlJdkgq);
  min-width: 0;
  padding: 8px;
}
.freeBox___7FSlE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__pbnz {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-j-ZwOKbpUCqd);
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
}
.text__d8H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-7E1YyiP6sAP9);
  color: var(--token-HxnmpURJ0E1r);
  font-weight: 700;
  min-width: 0;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__whV7G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cLjBk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__iEcEj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000014;
  row-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
.text___3Hnuj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-yPdZh3caz4YD);
  font-weight: 700;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3Hnuj {
    font-size: var(--token-1S9ocvls-LDz);
  }
}
.freeBox__vzoEq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__briDl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 8px;
}
.freeBox___1Xcvw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  padding: 0px;
}
.img__nqxGl {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  border-width: 1px;
}
.img__nqxGl > picture > img {
  object-fit: cover;
}
.lineClomp:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
  width: auto;
}
.text__awGy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
}
.svg__kGbHw {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-y50Rafqey4Ec);
  flex-shrink: 0;
}
.freeBox__ffgz9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  border-radius: var(--token-3WxvfyIdJppy);
  padding: var(--token-6eH8UjLOmr7v);
  border: 3px dashed var(--token-dhekOSlmbKIe);
}
.freeBoxupload2__ffgz9GhZli {
  justify-content: flex-end;
  align-items: center;
  border-width: 3px;
}
.freeBox__unVVv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: 0px;
}
.freeBoxupload2__unVVvghZli {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-3WxvfyIdJppy);
  align-self: center;
  row-gap: 0px;
}
.svg__ilrzi {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0jflij2Drauk);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.svgupload2__ilrzighZli {
  display: none;
}
.text__b3HiE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.textupload2__b3HiEghZli {
  align-self: center;
  display: block;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textupload2__b3HiEghZli {
    display: none;
  }
}
.buttonLiom2:global(.__wab_instance) {
  max-width: 100%;
  width: 20%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom2:global(.__wab_instance) {
    width: 40%;
  }
}
.buttonLiom2upload2:global(.__wab_instance) {
  width: 30%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom2upload2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__w1PyH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgupload2__w1PyHghZli {
  width: 25px;
  color: var(--token-QR8ATjORhQqO);
  height: 25px;
}
.svg___2F99W {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox___983QN {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-iyO_Axks-jmd);
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.imageOpload:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox___0MpcY {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  max-width: 100%;
  row-gap: var(--token-3WxvfyIdJppy);
  flex-shrink: 0;
  border-radius: var(--token-3WxvfyIdJppy);
  padding: var(--token-6eH8UjLOmr7v);
  border: 2px dashed var(--token-dhekOSlmbKIe);
}
.svg__n5Us8 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-TpmbTrq5hCAj);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text___0InfM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-podr231_9RBN);
  font-weight: 500;
  color: var(--token-TpmbTrq5hCAj);
  min-width: 0;
}
.freeBox__vls9Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__iijwg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__esC3C {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__hVd {
  display: block;
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  min-height: 0;
  padding: 8px;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
}
.modal2__modal :global(.ant-modal-content) {
  background: #ffffff00;
  box-shadow: 0px 4px 16px 0px transparent;
  outline: none;
}
.pcls_Qh1E8WzYW_Zh {
  background: #030712cc;
  outline: none;
}
.img__tv8Y {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tv8Y > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tv8Y {
    width: 350px;
  }
}
.freeBox__kwYlG {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 20px;
  left: auto;
  right: 20px;
  z-index: 1;
  background: var(--token-84PkxcVKH9-F);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0px;
}
.svg__cenX7 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-ieogzVSSyrRx);
  box-shadow: none;
  flex-shrink: 0;
  border-radius: 8px;
}
.antdInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.backHandler:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
