.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f7;
  grid-row-gap: 20px;
  padding-top: 24px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.root_1_docters > * {
  grid-column: 4;
}
.root_1_docter > * {
  grid-column: 4;
}
.root_1_chatviow > * {
  grid-column: 4;
}
.freeBox__uJakj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  row-gap: 20px;
  min-width: 0;
  padding: 60px 0px 0px;
}
.freeBox_1_docters__uJakjRd8YN {
  display: none;
}
.freeBox_1_docter__uJakjiDhcT {
  display: none;
}
.freeBox_1_chatviow__uJakjlEmdG {
  display: none;
}
.bg {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.rectangle2 {
  box-shadow: 0px 4px 10px 0px #0000001a;
  background: var(--token-PvbqFVJaOepe);
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
.freeBox__jySlz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.ا {
  display: block;
  font-size: 24px;
  font-family: "yekan_bakh";
  letter-spacing: normal;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  text-align: right;
  padding-top: 0px;
  font-weight: 700;
  min-width: 0;
}
.ا2 {
  display: block;
  font-size: 18px;
  font-family: "yekan_bakh";
  letter-spacing: normal;
  color: var(--token-pyhDq7s0RTkz);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  font-weight: 500;
  min-width: 0;
}
.img___2SiF8 {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  flex-shrink: 0;
}
.img___2SiF8 > picture > img {
  object-fit: cover;
}
.freeBox__yaSue {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.rectangle {
  background: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #0000001a;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 12px;
  padding: 20px;
}
.freeBox__o1CxK {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  row-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.text__tuHr6 {
  display: block;
  font-size: 18px;
  font-family: "yekan_bakh";
  letter-spacing: 0.266px;
  line-height: 100%;
  color: rgba(34, 54, 76, 1);
  text-align: right;
  font-weight: 500;
}
.findSuitableSpecia {
  display: block;
  font-size: 14px;
  font-family: "yekan_bakh";
  letter-spacing: 0.233px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
}
.rectangle3 {
  box-shadow: none;
  background: #8254c64d;
  width: 40px;
  height: 40px;
  display: flex;
  transform-origin: top left;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  flex-shrink: 0;
  border-radius: 10px;
}
.svg__dLxvV {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-8vnfstFHZzkH);
  width: 16px;
  height: 14px;
  display: block;
  transform-origin: top left;
  position: sticky;
  top: 13px;
  left: 12px;
  z-index: 1;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  flex-shrink: 0;
}
.speciality {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__v0VnT {
  display: block;
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  font-weight: 700;
}
.freeBox__u9RA4 {
  position: relative;
  max-width: 100%;
  height: auto;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  min-width: 0;
  padding: 0px;
}
.card6 {
  background: var(--token-jgohepLVeKvh);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  min-width: 0;
  border-radius: 12px;
  padding: 12px;
}
.svg__lxyNv {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__p5A5E {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.25px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-weight: 500;
  min-width: 0;
}
.card4 {
  background: var(--token-jgohepLVeKvh);
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 12px;
}
.svg__ffwk7 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__a2Im4 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.25px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-weight: 500;
  min-width: 0;
}
.card8 {
  background: var(--token-jgohepLVeKvh);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  min-width: 0;
  border-radius: 12px;
  padding: 12px;
}
.svg___6UTgI {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__ov7Pw {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.25px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-weight: 500;
  min-width: 0;
}
.card5 {
  background: var(--token-jgohepLVeKvh);
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 12px;
}
.svg___8WG5 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text___5Vdzy {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.25px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-weight: 500;
  min-width: 0;
}
.speciality2 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.speciality2_1_docters {
  left: auto;
  top: auto;
}
.speciality2_1_docter {
  left: auto;
  top: auto;
}
.speciality2_1_chatviow {
  left: auto;
  top: auto;
}
.text__qgnY7 {
  display: block;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  font-weight: 700;
}
.text__oRt6U {
  display: block;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 100%;
  color: var(--token-WxvvgatuPYoJ);
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  font-weight: 400;
  padding-bottom: 10px;
}
.freeBox__ziaYt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  column-gap: 15px;
  min-width: 0;
  padding: 0px;
}
.card9 {
  background: url("/plasmic/liom_tools/images/newProjectPng2.png") top 50% left 50% / cover repeat,
    var(--token-jgohepLVeKvh);
  width: 300px;
  height: 200px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.text___43Zck {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
.card10 {
  background: url("/plasmic/liom_tools/images/newProjectPng.png") top 50% left 50% / cover repeat,
    var(--token-jgohepLVeKvh);
  width: 300px;
  height: 200px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.text___1QD0 {
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
.card11 {
  background: url("/plasmic/liom_tools/images/shutterstock1240917451MinJpg2.jpg") top 50% left 50% / cover repeat,
    var(--token-jgohepLVeKvh);
  width: 300px;
  height: 200px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.text__cBpSi {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
.speciality3 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.speciality3_1_docters {
  left: auto;
  top: auto;
}
.speciality3_1_docter {
  left: auto;
  top: auto;
}
.speciality3_1_chatviow {
  left: auto;
  top: auto;
}
.text__yLw98 {
  display: block;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  font-weight: 700;
}
.text__a00Q7 {
  display: block;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 100%;
  color: var(--token-WxvvgatuPYoJ);
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  font-weight: 400;
  padding-bottom: 10px;
}
.freeBox__nnod0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  column-gap: 15px;
  min-width: 0;
  padding: 0px;
}
.card12 {
  background: url("/plasmic/liom_tools/images/newProject1Png.png") top 50% left 50% / cover repeat,
    var(--token-jgohepLVeKvh);
  width: 300px;
  height: 200px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.text__lGCj2 {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
.card13 {
  background: url("/plasmic/liom_tools/images/newProject2Png.png") top 50% left 50% / cover repeat,
    var(--token-jgohepLVeKvh);
  width: 300px;
  height: 200px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.text__e0HmP {
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
.card14 {
  background: url("/plasmic/liom_tools/images/newProject3Png.png") top 50% left 50% / cover repeat,
    var(--token-jgohepLVeKvh);
  width: 300px;
  height: 200px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.text___00GIm {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 20px;
  color: var(--token-PvZN5zHgaOeZ);
  font-weight: 700;
}
.freeBox__tz8K {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 60px;
  max-width: 100%;
  left: 0;
  top: -20px;
  z-index: 1;
  right: 0;
  background: #ffffff;
  flex-shrink: 0;
  padding: 8px 20px;
  border-width: 2px;
}
.text__n06Mm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
}
.text__tvRzp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__hHlGe {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox_1_docters__hHlGeRd8YN {
  display: flex;
}
.freeBox_1_chatviow__hHlGelEmdG {
  display: none;
}
.freeBox__sd63 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__oOqOf {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 30px;
  height: 30px;
  cursor: pointer;
  mix-blend-mode: darken;
  flex-shrink: 0;
}
.text__b4JJm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.text_1_chatviow__b4JJMlEmdG {
  text-align: right;
  padding-right: 10px;
  color: var(--token-LqpCVPPZF4_r);
  font-size: 20px;
  align-self: flex-end;
  height: auto;
}
.freeBox___5Lb9M {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  padding-right: 40px;
  font-weight: 500;
  color: #000000;
  min-width: 0;
}
.svg___0Osq6 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: 0;
  height: 20px;
  width: 20px;
  color: var(--token-2aHIw8xI62Xi);
  flex-shrink: 0;
}
.mensah {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.062);
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 15px;
}
.img___1VwbF {
  object-fit: cover;
  max-width: 100%;
  width: 79px;
  height: 79px;
  position: absolute;
  top: 0%;
  left: 0%;
  flex-shrink: 0;
  display: none;
}
.img___1VwbF > picture > img {
  object-fit: cover;
}
.img_1_docters___1VwbFRd8YN {
  position: relative;
  left: auto;
  top: auto;
  display: block;
}
.img_1_chatviow___1VwbFlEmdG {
  position: relative;
  left: auto;
  top: auto;
  display: block;
}
.freeBox__nsrYp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__dzeXu {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "yekan_bakh";
  letter-spacing: 0.266px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  transform: translate(0.35600000000000165px, -0.058000000000006935px);
  min-width: 0;
}
.text__tmMZp {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "yekan_bakh";
  letter-spacing: 0.2px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  width: 100%;
  transform: translate(-0.48300000000000054px, 0.4019999999999868px);
  min-width: 0;
}
.freeBox__knh5G {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docters__knh5GRd8YN {
  align-items: center;
  justify-content: center;
}
.freeBox__ronQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox_1_docters__ronQRd8YN {
  padding: 0px 0px 8px;
}
.star_1_docters__xxeoIRd8YN:global(.__wab_instance) {
  display: none;
}
.star_1_chatviow__xxeoIlEmdG:global(.__wab_instance) {
  display: none;
}
.text__dkMk {
  display: block;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.183px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  width: 100%;
  transform: none;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__iriVs {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docters__iriVsRd8YN {
  display: none;
}
.freeBox_1_chatviow__iriVslEmdG {
  overflow: visible;
  padding-top: 60px;
  display: flex;
}
.freeBox__swKgl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_chatviow__swKgllEmdG {
  left: 0;
  top: -20px;
  z-index: 1;
  position: fixed;
  right: 0;
  width: auto;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.svg__qj8C {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 30px;
  height: 30px;
  cursor: pointer;
  mix-blend-mode: darken;
  flex-shrink: 0;
}
.svg_1_chatviow__qj8ClEmdG {
  align-self: auto;
}
.text___0V3Oe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.text_1_chatviow___0V3OElEmdG {
  text-align: right;
  padding-right: 10px;
  color: var(--token-LqpCVPPZF4_r);
  font-size: 20px;
  align-self: flex-end;
  height: auto;
}
.freeBox__ykkS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_chatviow__ykkSLEmdG {
  width: auto;
  border-radius: 100px;
  border-width: 1px;
}
.svg__xtX7J {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg_1_chatviow__xtX7JlEmdG {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__qedM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox_1_docters__qedMRd8YN {
  display: flex;
}
.freeBox_1_chatviow__qedMlEmdG {
  display: none;
}
.input2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  padding-right: 40px;
  font-weight: 500;
  color: #000000;
  min-width: 0;
}
.svg__oEqFw {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: 0;
  height: 20px;
  width: 20px;
  color: var(--token-2aHIw8xI62Xi);
  flex-shrink: 0;
}
.mensah2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.062);
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 15px;
}
.mensah2_1_chatviow {
  padding: 5px;
}
.img__spXcG {
  object-fit: cover;
  max-width: 100%;
  width: 79px;
  height: 79px;
  position: absolute;
  top: 0%;
  left: 0%;
  flex-shrink: 0;
  display: none;
}
.img__spXcG > picture > img {
  object-fit: cover;
}
.img_1_docters__spXcGRd8YN {
  position: relative;
  left: auto;
  top: auto;
  display: block;
}
.img_1_chatviow__spXcGlEmdG {
  position: relative;
  left: auto;
  top: auto;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: block;
}
.freeBox__rIpS {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__dIjG {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "yekan_bakh";
  letter-spacing: 0.266px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  transform: translate(0.35600000000000165px, -0.058000000000006935px);
  min-width: 0;
}
.text_1_chatviow__dIjGlEmdG {
  font-weight: 700;
}
.text__bgGv0 {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "yekan_bakh";
  letter-spacing: 0.2px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  width: 100%;
  transform: translate(-0.48300000000000054px, 0.4019999999999868px);
  min-width: 0;
}
.freeBox__qG4Ar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docters__qG4ArRd8YN {
  display: flex;
}
.freeBox_1_chatviow__qG4ArlEmdG {
  display: none;
}
.freeBox__qrlZk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.star_1_docters___7U6AERd8YN:global(.__wab_instance) {
  display: none;
}
.star_1_chatviow___7U6AElEmdG:global(.__wab_instance) {
  display: none;
}
.text__aLQv {
  display: block;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.183px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  width: 100%;
  transform: none;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.doctorsDetails {
  background: rgba(255, 255, 255, 1);
  width: 414px;
  height: 1100px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.doctorsDetails_1_docter {
  width: 100%;
  background: none;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 20px;
  column-gap: 0px;
  min-width: 0;
  min-height: 0;
}
.doctorsDetails_1_chatviow {
  width: 100%;
  background: none;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 0px;
  min-width: 0;
  display: none;
}
.svg__qM6YX {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.svg_1_docter__qM6YXiDhcT {
  width: 30px;
  height: 30px;
  position: absolute;
  left: auto;
  top: -10px;
  transform: none;
  right: 0px;
  flex-shrink: 0;
}
.svg_1_chatviow__qM6YXlEmdG {
  width: 30px;
  height: 30px;
  position: absolute;
  left: auto;
  top: -10px;
  transform: none;
  right: 0px;
  flex-shrink: 0;
}
.bg2 {
  background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(251, 249, 249, 1) 99.99%
      )
      0% 0% / 100% 100% no-repeat,
    rgba(31, 64, 197, 1);
  width: 414px;
  height: 470px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  flex-direction: column;
  flex-shrink: 0;
}
.bg2_1_docter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: none;
  height: auto;
  left: auto;
  top: auto;
  row-gap: 20px;
  column-gap: 0px;
  min-width: 0;
}
.bg2_1_chatviow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: none;
  height: auto;
  left: auto;
  top: auto;
  row-gap: 20px;
  column-gap: 0px;
  min-width: 0;
}
.img__tsyky {
  object-fit: cover;
  max-width: 100%;
  filter: none;
  width: 118px;
  height: 118px;
  display: block;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 100px;
  border: 3px solid var(--token-Pxe4wDL2kJpb);
}
.img__tsyky > picture > img {
  object-fit: cover;
}
.freeBox___0S8W5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docter___0S8W5IDhcT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 0px;
}
.freeBox_1_chatviow___0S8W5LEmdG {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 0px;
}
.text__cey64 {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.333px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
}
.text_1_docter__cey64IDhcT {
  font-weight: 700;
}
.text_1_chatviow__cey64LEmdG {
  font-weight: 700;
}
.text__ax3R {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.233px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.text_1_docter__ax3RiDhcT {
  position: relative;
  left: auto;
  top: auto;
  font-weight: 700;
  font-size: 16px;
}
.text_1_chatviow__ax3RlEmdG {
  position: relative;
  left: auto;
  top: auto;
  font-weight: 700;
  font-size: 16px;
}
.freeBox___4MCh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docter___4MChiDhcT {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 20px;
  row-gap: 0px;
}
.freeBox_1_chatviow___4MChlEmdG {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 20px;
  row-gap: 0px;
}
.patients {
  width: 110px;
  height: 130px;
  display: block;
  flex-shrink: 0;
}
.patients_1_docter {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  column-gap: 0px;
  flex-shrink: 0;
  border-radius: 12px;
}
.patients_1_chatviow {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  column-gap: 0px;
  flex-shrink: 0;
  border-radius: 12px;
}
.group {
  width: 49px;
  height: 63px;
  display: block;
  position: absolute;
  top: 0px;
  left: 31px;
}
.group_1_docter {
  position: relative;
  left: auto;
  top: auto;
}
.group_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
}
.rectangle14 {
  background: #ffc53d4d;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}
.svg___3R2Wn {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
  color: var(--token-bASdKwkcGC-_);
  flex-shrink: 0;
}
.freeBox__uTn1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 80px;
  left: 28.18%;
  min-width: 0;
  padding: 8px 8px 16px;
}
.freeBox_1_docter__uTn1IDhcT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.freeBox_1_chatviow__uTn1LEmdG {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.text__bc42Z {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.517px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  transform: translate(-0.5px, 0px);
}
.text___4TenZ {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.365px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 104px;
  left: 29.09%;
}
.text_1_docter___4TenZiDhcT {
  position: relative;
  left: auto;
  top: auto;
}
.text_1_chatviow___4TenZlEmdG {
  position: relative;
  left: auto;
  top: auto;
}
.patients2 {
  width: 110px;
  height: 130px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
}
.patients2_1_docter {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: auto;
  top: auto;
  column-gap: 0px;
  flex-shrink: 0;
  border-radius: 12px;
}
.patients2_1_chatviow {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: auto;
  top: auto;
  column-gap: 0px;
  flex-shrink: 0;
  border-radius: 12px;
}
.group2 {
  width: 49px;
  height: 63px;
  display: block;
  position: absolute;
  top: 0px;
  left: 31px;
}
.group2_1_docter {
  position: relative;
  left: auto;
  top: auto;
}
.group2_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
}
.rectangle15 {
  background: #8254c633;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}
.svg___0SwWy {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
  color: var(--token-PvbqFVJaOepe);
  flex-shrink: 0;
}
.freeBox__enYiw {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 80px;
  left: 28.18%;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docter__enYiwiDhcT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.freeBox_1_chatviow__enYiwlEmdG {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.text__p1AM {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.517px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  transform: translate(-0.5px, 0px);
}
.text__i7DZl {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.365px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 104px;
  left: 29.09%;
}
.text_1_docter__i7DZliDhcT {
  position: relative;
  left: auto;
  top: auto;
}
.text_1_chatviow__i7DZllEmdG {
  position: relative;
  left: auto;
  top: auto;
}
.patients3 {
  width: 110px;
  height: 130px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
}
.patients3_1_docter {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: auto;
  top: auto;
  column-gap: 0px;
  flex-shrink: 0;
  border-radius: 12px;
}
.patients3_1_chatviow {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: auto;
  top: auto;
  column-gap: 0px;
  flex-shrink: 0;
  border-radius: 12px;
}
.group3 {
  width: 49px;
  height: 63px;
  display: block;
  position: absolute;
  top: 0px;
  left: 31px;
}
.group3_1_docter {
  position: relative;
  left: auto;
  top: auto;
}
.group3_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
}
.rectangle16 {
  background: #00c3714d;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}
.svg___0ONx0 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
  color: var(--token-SH2GlK2U7a6u);
  flex-shrink: 0;
}
.freeBox__paao {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 80px;
  left: 28.18%;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docter__paaoIDhcT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.freeBox_1_chatviow__paaoLEmdG {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.text__l9Hco {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.517px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  transform: translate(-0.5px, 0px);
}
.text__xZl9N {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "yekan_bakh";
  letter-spacing: 0.365px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 104px;
  left: 29.09%;
}
.text_1_docter__xZl9NiDhcT {
  position: relative;
  left: auto;
  top: auto;
}
.text_1_chatviow__xZl9NlEmdG {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__lHiTa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docter__lHiTaiDhcT {
  left: 27px;
  top: 0px;
  z-index: 1;
  position: sticky;
  display: flex;
  flex-direction: column;
  height: auto;
  background: #ffffff;
  row-gap: 20px;
  column-gap: 0px;
  border-radius: 12px;
  padding: 20px;
}
.freeBox_1_chatviow__lHiTalEmdG {
  left: 27px;
  top: 0px;
  z-index: 1;
  position: sticky;
  display: flex;
  flex-direction: column;
  height: auto;
  background: #ffffff;
  row-gap: 20px;
  column-gap: 0px;
  border-radius: 12px;
  padding: 20px;
}
.about {
  width: 100%;
  height: 134px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-width: 0;
  flex-shrink: 0;
}
.about_1_docter {
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 0px;
}
.about_1_chatviow {
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 0px;
}
.text__p7Y0S {
  display: block;
  font-size: 18px;
  font-family: "yekan_bakh";
  letter-spacing: 0.3px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
}
.text_1_docter__p7Y0SiDhcT {
  text-align: right;
  font-size: 20px;
  left: auto;
  top: auto;
  font-weight: 700;
}
.text_1_chatviow__p7Y0SlEmdG {
  text-align: right;
  font-size: 20px;
  left: auto;
  top: auto;
  font-weight: 700;
}
.drBellamyNicholas {
  display: block;
  font-size: 14px;
  font-family: "yekan_bakh";
  letter-spacing: 0.233px;
  line-height: 20px;
  color: rgba(106, 118, 154, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
}
.drBellamyNicholas_1_docter {
  text-align: justify;
  left: auto;
  top: auto;
}
.drBellamyNicholas_1_chatviow {
  text-align: justify;
  left: auto;
  top: auto;
}
.workingTime {
  width: 360px;
  height: 54px;
  display: block;
  position: absolute;
  top: 677px;
  left: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.workingTime_1_docter {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  row-gap: 10px;
  column-gap: 0px;
  min-width: 0;
}
.workingTime_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  row-gap: 10px;
  column-gap: 0px;
  min-width: 0;
}
.text___3Wb2M {
  display: block;
  font-size: 18px;
  font-family: "yekan_bakh";
  letter-spacing: 0.3px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: absolute;
  top: 0px;
  left: 0.27%;
}
.text_1_docter___3Wb2MiDhcT {
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
  font-weight: 700;
  height: auto;
  line-height: 30px;
}
.text_1_chatviow___3Wb2MlEmdG {
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
  font-weight: 700;
  height: auto;
  line-height: 30px;
}
.monSat0830Am {
  display: block;
  font-size: 14px;
  font-family: "yekan_bakh";
  letter-spacing: 0.233px;
  line-height: 20px;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 62.96%;
  left: 0%;
  width: 100%;
}
.monSat0830Am_1_docter {
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
}
.monSat0830Am_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uYhW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ynvba {
  display: none;
}
.svg__xxETc {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.buttonLiom2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tHy3E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9XnB {
  display: none;
}
.svg__acCx0 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__z6KjK {
  position: relative;
  height: 1em;
}
.text__wvzyR {
  white-space: pre;
}
.svg__i8H9S {
  position: relative;
  height: 1em;
}
