.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #37262633;
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #e4e4e4;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #000000;
  height: 40px;
  box-shadow: none;
  align-self: auto;
}
.text__r5GFb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #8f8f8f;
  font-family: "yekan_bakh", sans-serif;
  font-size: 20px;
  text-align: right;
  font-weight: 800;
  min-width: 0;
  margin: 0px 20px 0px 0px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.svg__zJo7H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gCusT {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.svg__bqrbr {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
