.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f3f3f3;
  padding-bottom: 60px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootdark {
  background: #0f0f0f;
}
.rootdark > * {
  grid-column: 4;
}
.headerLiom:global(.__wab_instance) {
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  width: 100%;
  right: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg__gfFaS {
  object-fit: cover;
  max-width: 100%;
  color: #222b45;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
.svgdark__gfFaSd3Yog {
  color: #ffffff;
}
.paziresh24Avatar:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.text__wWcv0 {
  white-space: pre;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__kIfbU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0.5rem var(--token-KVcr9NiMwFLr);
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kIfbU {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: var(--token-6eH8UjLOmr7v);
    padding-left: var(--token-6eH8UjLOmr7v);
    row-gap: var(--token-KVcr9NiMwFLr);
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.stepsLayout:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 0px;
}
.text__yv1Tf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-84PkxcVKH9-F);
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yv1Tf {
    font-size: 20px;
  }
}
.textdark__yv1TfD3Yog {
  color: var(--token-ieogzVSSyrRx);
}
.text___7Mwqn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Mwqn {
    font-size: 18px;
  }
}
.textdark___7MwqnD3Yog {
  color: #f3f4f5;
}
.freeBox__w8YEq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-KVcr9NiMwFLr) var(--token-KVcr9NiMwFLr)
    var(--token-KVcr9NiMwFLr) 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w8YEq {
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.freeBoxdark__w8YEqD3Yog {
  background: var(--token-aAR23Q6LT5jS);
}
.img__eWzJe {
  object-fit: cover;
  max-width: 100%;
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
}
.img__eWzJe > picture > img {
  object-fit: cover;
}
.freeBox___1IvFv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: var(--token-omrXvBNBcWTN) 0px;
}
.freeBox__fjmFy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px 0px 0px var(--token-KVcr9NiMwFLr);
}
.text___3TrKm {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-84PkxcVKH9-F);
  align-self: flex-start;
  font-size: 18px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3TrKm {
    font-size: 18px;
  }
}
.textdark___3TrKmd3Yog {
  color: var(--token-ieogzVSSyrRx);
}
.svg__slHqw {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: var(--token-3WxvfyIdJppy);
  height: var(--token-3WxvfyIdJppy);
  color: var(--token-2aHIw8xI62Xi);
  flex-shrink: 0;
}
.svgdark__slHqwd3Yog {
  color: var(--token-LqD8W4lcEdIj);
}
.text__vzocs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-P2saABvfDCPH);
  align-self: center;
}
.textdark__vzocsD3Yog {
  color: var(--token-_a8xNcbsYOO0);
}
.text__jOuQb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jOuQb {
    font-size: 18px;
  }
}
.textdark__jOuQbd3Yog {
  color: #f3f4f5;
}
.text__hwt2T {
  width: 90px;
  height: auto;
  text-align: center;
  color: var(--token-0jflij2Drauk);
  font-size: 13px;
  position: relative;
  background: var(--token-MjYUWCcX38Uk);
  border-radius: 8px;
  padding: 0px;
  border: 1px solid var(--token-0jflij2Drauk);
}
.textdark__hwt2Td3Yog {
  background: var(--token-hb610yGAurc2);
  color: var(--token-pyhDq7s0RTkz);
}
.text___3Kdne {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-84PkxcVKH9-F);
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3Kdne {
    font-size: 20px;
  }
}
.textdark___3KdneD3Yog {
  color: var(--token-ieogzVSSyrRx);
  display: block;
}
.text__iTv4R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iTv4R {
    font-size: 18px;
  }
}
.textdark__iTv4RD3Yog {
  color: #f3f4f5;
}
.freeBox__zsQYl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  overflow: auto;
  row-gap: 8px;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-KVcr9NiMwFLr);
}
.freeBox__i0GHe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__qcHt8 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 8rem;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
}
.img__qcHt8 > picture > img {
  object-fit: cover;
}
.freeBox__v8Vrm {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
}
.freeBox__iNt5N {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  background: var(--token-2aHIw8xI62Xi);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-QMEhwYzwsf71);
  padding: var(--token-KVcr9NiMwFLr);
}
.svg__qshgB {
  object-fit: cover;
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg___9XBj7 {
  object-fit: cover;
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__aNidl {
  object-fit: cover;
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__vuuBk {
  position: relative;
  font-weight: 700;
  color: var(--token-84PkxcVKH9-F);
  text-align: right;
  max-width: 100%;
  height: auto;
  width: 100%;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vuuBk {
    font-size: 20px;
  }
}
.textdark__vuuBkd3Yog {
  color: var(--token-ieogzVSSyrRx);
}
.text__eprad {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eprad {
    font-size: 18px;
  }
}
.textdark__epradd3Yog {
  color: #f3f4f5;
}
.freeBox___7UgUh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px;
}
.freeBox___7XIpe {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__h3PyG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: var(--token-omrXvBNBcWTN) 0px var(--token-omrXvBNBcWTN)
    var(--token-omrXvBNBcWTN);
}
.freeBox__dr8Je {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 15px;
  height: 15px;
  max-width: 100%;
  align-self: center;
  background: #8254c6b3;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border: 1px solid var(--token-QR8ATjORhQqO);
}
.text__agCsm {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-84PkxcVKH9-F);
  align-self: center;
  font-size: 18px;
  padding: 0px;
}
.percentageBox:global(.__wab_instance) {
  max-width: 100%;
}
.text__fm6Ww {
  padding-left: 4px;
  padding-right: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fm6Ww {
    font-size: 12px;
  }
}
.freeBox__mhgz4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: var(--token-KVcr9NiMwFLr);
  border-right: 1px solid var(--token-ehVEIAjb9HeO);
}
.freeBox__gdQ2W {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-KVcr9NiMwFLr);
}
.freeBoxdark__gdQ2Wd3Yog {
  background: var(--token-aAR23Q6LT5jS);
}
.freeBox__at7Ei {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  background: #ffffff2e;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBoxdark__at7EiD3Yog {
  background: none;
}
.freeBox__uOodd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: var(--token-omrXvBNBcWTN) 0px;
}
.lineClomp4:global(.__wab_instance) {
  max-width: 100%;
}
.text__pClHh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pClHh {
    font-size: 18px;
  }
}
.textdark__pClHhD3Yog {
  color: #898989;
}
.getUser:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wrDOg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.getData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___2Qwzn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Qwzn {
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 200px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.svg__ywhdY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qJutd {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__efvS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #000000a6;
  z-index: 100;
  left: 0px;
  top: 0px;
  position: absolute;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
}
.freeBox__f62N5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f62N5 {
    max-width: 100%;
  }
}
.freeBox___0Nqs4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-naOKKZC5rCrA);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.img__ePsqX {
  object-fit: cover;
  width: 40%;
}
.img__ePsqX > picture > img {
  object-fit: cover;
}
.text__hhOey {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-16zuNC9DmE3-);
  text-align: center;
  font-size: 17px;
  margin-top: 8px;
  background: none;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.buttonLiom2:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom2:global(.__wab_instance) {
    width: 200px;
  }
}
.svg__kggI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9Jpdo {
  font-size: 14px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  width: auto;
  padding: 2px 8px;
}
.svg__fqPfq {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__uljWi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
}
.directDialog:global(.__wab_instance) {
  max-width: 100%;
}
