.top {
  width: 100%;
  height: 80px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  background: #ffffff;
  position: relative;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .top {
    height: 65px;
  }
}
.topdark {
  background: var(--token-aAR23Q6LT5jS);
  border-bottom-color: var(--token-aAR23Q6LT5jS);
}
.svg__yaa3H {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ieogzVSSyrRx);
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.paziresh24Avatar__kw9HH:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-family: "yekan_bakh";
  font-size: var(--token-Gq2ZclrSKBOi);
  color: rgba(33, 42, 68, 1);
  text-align: right;
  line-height: 100%;
  letter-spacing: 0.266px;
}
.slotTargetChildrendark {
  color: var(--token-ieogzVSSyrRx);
}
