.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #f8f8f8;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__tslw4 {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__tslw4 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__tslw4 > * {
    grid-column: 4;
  }
}
.sectionresalt__tslw4CpkCp > * {
  grid-column: 4;
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  height: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg__npI53 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-0jflij2Drauk);
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
.text__cwybi {
  font-weight: 500;
  height: auto;
}
.section__lNvTd {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__lNvTd > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__lNvTd > * {
    grid-column: 4;
  }
}
.sectionresalt__lNvTdCpkCp {
  display: none;
}
.sectionresalt__lNvTdCpkCp > * {
  grid-column: 4;
}
.freeBox__jm5S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 68px 16px 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jm5S {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__onWzc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kcXag {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ieogzVSSyrRx);
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kcXag {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 0px;
    padding: 14px;
  }
}
.freeBox__yrvB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px 0px 16px;
}
.text__edM9 {
  width: 100%;
  text-align: justify;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.text__dhMCp {
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.freeBox___4LagW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4LagW {
    column-gap: 8px;
    row-gap: 0px;
    padding: 0px;
  }
}
.freeBox___4PsNr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4PsNr {
    padding: 0px;
  }
}
.text__iOweJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iOweJ {
    padding-right: 0px;
  }
}
.freeBox__d01ZG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.higth:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 50px;
  font-size: 14px;
  font-weight: 100;
  text-align: right;
  opacity: 0.8;
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.svg__gs59Z {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 14px;
  top: 10px;
  width: 30px;
  height: 30px;
  color: var(--token-2xPkbw4aFzX2);
  flex-shrink: 0;
}
.freeBox__y7Z75 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y7Z75 {
    padding: 0px;
  }
}
.text___9YMl6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
  min-width: 0;
}
.freeBox__nGezH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.lastWeight:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 50px;
  font-size: 14px;
  font-weight: 100;
  text-align: right;
  opacity: 0.8;
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.svg__re0X6 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 14px;
  top: 10px;
  width: 30px;
  height: 30px;
  color: var(--token-2xPkbw4aFzX2);
  flex-shrink: 0;
}
.embedHtml__eWwLh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.text__mkof {
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  padding-top: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mkof {
    padding: 0px;
  }
}
.freeBox__zuT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zuT {
    column-gap: 8px;
    row-gap: 0px;
    padding: 0px;
  }
}
.freeBox__wzr4M {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wzr4M {
    padding: 0px;
  }
}
.text__tnTgd {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
  min-width: 0;
}
.freeBox__vjbLz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.week:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 50px;
  font-size: 14px;
  font-weight: 100;
  text-align: right;
  opacity: 0.8;
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.svg__ctBZ {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 14px;
  top: 10px;
  width: 30px;
  height: 30px;
  color: var(--token-2xPkbw4aFzX2);
  flex-shrink: 0;
}
.freeBox__vRky0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vRky0 {
    padding: 0px;
  }
}
.text__aaE4P {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
  min-width: 0;
}
.freeBox__sjiy2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.weight2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 50px;
  font-size: 14px;
  font-weight: 100;
  text-align: right;
  opacity: 0.8;
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.svg__hFdQ0 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 14px;
  top: 10px;
  width: 30px;
  height: 30px;
  color: #552f96;
  flex-shrink: 0;
}
.freeBox__h6WtR {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h6WtR {
    padding: 0px;
  }
}
.text___46TXg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 8px;
  min-width: 0;
}
.freeBox__mmkZj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0px;
  border-width: 1px;
}
.freeBox__meewi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  border-radius: 0px;
  padding: 0px;
}
.svg__zUji1 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-sD0iOLam3c1_);
  align-self: flex-start;
  position: absolute;
  left: 14px;
  top: 10px;
  flex-shrink: 0;
}
.radioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.radio__geeP9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kOJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__zOvB0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___3FHwO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.glo:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
.section___8G5Tq {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___8G5Tq > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___8G5Tq > * {
    grid-column: 4;
  }
}
.sectionresalt___8G5TqCpkCp > * {
  grid-column: 4;
}
.freeBox__aXAcS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  min-width: 0;
  padding: 8px 8px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aXAcS {
    padding-bottom: 16px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__weIvu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0KLbb {
  font-size: 16px;
  font-weight: 700;
}
.svg__rr2Vm {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.section__e8Ta {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__e8Ta > * {
  grid-column: 4;
}
.sectionresalt__e8TaCpkCp {
  display: grid;
}
.sectionresalt__e8TaCpkCp > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionresalt__e8TaCpkCp > * {
    grid-column: 4;
  }
}
.freeBox__y6RhQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 68px 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y6RhQ {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBoxresalt__y6RhQCpkCp {
  padding-bottom: 100px;
}
.freeBox__cce33 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oWYi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ieogzVSSyrRx);
  box-shadow: 0px 4px 16px 0px #12121214;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px 8px 8px 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oWYi {
    padding-left: 8px;
    padding-bottom: 14px;
  }
}
.text__lMkSc {
  width: 100%;
  text-align: center;
  font-size: 18px;
  min-width: 0;
}
.buttonLiom6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__iGn4R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pof5V {
  color: var(--token-pRs3-4jrQ4XQ);
  text-decoration-line: none !important;
  font-size: 16px;
  border-bottom: 1px solid var(--token-QR8ATjORhQqO);
}
.svg__gO8Ru {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__j1DUo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j1DUo {
    column-gap: 8px;
    row-gap: 0px;
    padding: 0px;
  }
}
.freeBox__g4RiL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.text__zBiGv {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 0px;
  align-self: center;
}
.text__edLsG {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.text__pD9O {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: center;
}
.text__iQb4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__tiDzh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SXG6cjnWZyNC);
  min-width: 0;
  border-radius: 8px;
  padding: 4px;
  border: 1px dashed var(--token-47ovROB-Xr2C);
}
.freeBoxresalt__tiDzhCpkCp {
  column-gap: 4px;
  row-gap: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxresalt__tiDzhCpkCp {
    width: auto;
  }
}
.svg___4JEiy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Bjjq_24AWhes);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svgresalt___4JEiyCpkCp {
    align-self: center;
  }
}
.text___2Cwl {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: var(--token-MAnhFXGh8Ir8);
  align-self: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textresalt___2CwlCpkCp {
    text-align: right;
  }
}
.embedHtml__x9ORd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.buttonLiom3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.buttonLiom3resalt:global(.__wab_instance) {
  display: none;
}
.svg__qy8Nb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__plgRk {
  color: var(--token-pRs3-4jrQ4XQ);
  text-decoration-line: underline !important;
  font-size: 18px;
}
.svg__lmUw {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.buttonLiom7:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  position: absolute;
  left: auto;
  top: auto;
  right: 24px;
  bottom: 50%;
  height: auto;
}
.svg__eQlk {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  color: var(--token-QR8ATjORhQqO);
}
.svg__teEsa {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  color: var(--token-QR8ATjORhQqO);
}
.svg__trhpv {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.buttonLiom8:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  position: absolute;
  left: 24px;
  top: auto;
  bottom: 50%;
}
.svg__zOoj {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  color: var(--token-QR8ATjORhQqO);
}
.svg__gLpZu {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  color: var(--token-QR8ATjORhQqO);
}
.svg__nqltE {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox___2ZcCh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  padding: 8px;
}
.freeBox__ocfdq {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  column-gap: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__hZahh {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ieogzVSSyrRx);
  box-shadow: 0px 4px 16px 0px #12121214;
  row-gap: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
.text__zz0HJ {
  font-size: 16px;
  text-align: center;
  width: 100%;
  min-width: 0;
}
.text__rrkin {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
.freeBox___1KN2Z {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ieogzVSSyrRx);
  box-shadow: 0px 4px 16px 0px #12121214;
  row-gap: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
  border-width: 1px;
}
.text__rAhzW {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding-top: 0px;
  height: auto;
  min-width: 0;
}
.text__etuXx {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__oxfqf {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ieogzVSSyrRx);
  box-shadow: 0px 4px 16px 0px #12121214;
  row-gap: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oxfqf {
    padding-left: 8px;
    padding-bottom: 14px;
  }
}
.text__y3N {
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  min-width: 0;
}
.text__scRuV {
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  min-width: 0;
}
.textresalt__scRuVCpkCp {
  font-weight: 700;
  display: none;
}
.text___4Hvl {
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: none;
  min-width: 0;
}
.text__x0O7L {
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  min-width: 0;
}
.textresalt__x0O7LCpkCp {
  display: none;
}
.embedHtml__b2S5G:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtmlresalt__b2S5GCpkCp:global(.__wab_instance) {
  width: 100%;
  color: #7444bc;
  min-width: 0;
  display: none;
}
.section__swo9P {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__swo9P > * {
  grid-column: 4;
}
.sectionresalt__swo9PCpkCp > * {
  grid-column: 4;
}
.freeBox__blDyw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  column-gap: 16px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.buttonLiom2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.buttonLiom2resalt:global(.__wab_instance) {
  display: none;
}
.svg__miJeX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2P0Jk {
  color: var(--token-pRs3-4jrQ4XQ);
  text-decoration-line: underline !important;
  font-size: 18px;
}
.svg___7QwAe {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__ptZMs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  column-gap: 16px;
  min-width: 0;
  padding: 8px 8px 16px;
}
.freeBoxresalt__ptZMsCpkCp {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.buttonLiom4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.buttonLiom4resalt:global(.__wab_instance) {
  display: none;
}
.svg___8EI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qFy93 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.buttonLiom5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__qhIo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sNlgq {
  font-size: 16px;
  font-weight: 700;
}
.svg__fhTpb {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jJ41C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___4Vcb4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___7Hk9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  row-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
}
.freeBox__bYSp7 {
  width: 100px;
  height: 6px;
  max-width: 100%;
  background: var(--token-y50Rafqey4Ec);
  flex-shrink: 0;
  display: none;
  border-radius: 100px;
  padding: 2px;
}
.dialogTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin: 0px;
}
.h5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  min-width: 0;
}
.text__rq7Nq {
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  font-style: normal;
  color: var(--token-GigJJXFlebPW);
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "yekan_bakh", sans-serif;
}
.freeBox__duJ4R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: var(--token-3WxvfyIdJppy);
  row-gap: 8px;
  min-width: 0;
}
.text__zihEs {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
  font-weight: 400;
  font-style: normal;
  color: var(--token-GigJJXFlebPW);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "yekan_bakh", sans-serif;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__mjmO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___3MW6F {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: none;
  left: auto;
  top: auto;
  row-gap: 5px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #d2d2d2;
}
.freeBox__v2YkN {
  display: block;
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #7444bc33;
  left: 8px;
  top: -170px;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px 8px 2px;
}
.text__w94D {
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
.freeBox__blhcl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__vurgz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: justify;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___6D2Y {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__dtvFu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 50px;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: line-through;
  text-overflow: clip;
  min-width: 0;
}
.text___2PEjo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  font-family: "yekan_bakh", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__u6GvP {
  display: flex;
  position: sticky;
  width: 40px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}
.text__kz6Eb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__nFr29 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-start;
  padding-right: 10px;
  padding-left: 10px;
  color: #8254c6;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
.freeBox__j9X2B {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  display: none;
  border-radius: 8px;
  padding: 0px;
  margin: 8px;
}
.freeBox__em7CA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__byIQw {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #8254c6;
}
.freeBox__cEeWw {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
  background: #00c3711a;
  min-width: 0;
  min-height: 0;
  border-radius: 5px;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 40%;
}
.svg___8PX5I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y8JQ3 {
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__u2L2R {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 8px;
  margin-left: 8px;
}
.svg___7ZOkV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2EGrL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "yekan_bakh", sans-serif;
  min-width: 0;
}
.svg__bIapS {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.p__ki5JQ {
  text-align: center;
  font-size: 14px;
  color: #898989;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  font-family: "yekan_bakh", sans-serif;
}
.p__u7CbU {
  text-align: center;
  font-size: 12px;
  color: #898989;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  font-family: "yekan_bakh", sans-serif;
  display: none;
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #7444bc;
}
