.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-riOO7VGd6zgE);
  min-width: 0;
  min-height: 0;
}
.rootglobal_theme_dark {
  background: var(--token-PvZN5zHgaOeZ);
}
.appTitle {
  position: relative;
  width: auto;
  height: auto;
  align-self: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-size: 100px;
  color: var(--token-3MNJmQstkAEF);
}
.appTitleglobal_theme_dark {
  color: var(--token-Q0_e1tkwhCn4);
}
.freeBox__wsJnP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5M5DD {
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  align-self: auto;
  width: 550px;
  height: auto;
}
.freeBoxglobal_theme_dark___5M5DDe9E9C {
  box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.3);
}
.appBody {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  width: 550px;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  position: relative;
  z-index: 1;
  background: var(--token--rHoLYgRbp4y);
}
.appBodyglobal_theme_dark {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  background: var(--token-dUy2qmqTXN9m);
}
.link {
  position: relative;
  align-self: stretch;
  display: flex;
}
.linkstate_empty {
  align-self: stretch;
}
.tasksContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.task:global(.__wab_instance) {
  align-self: stretch;
}
.footer:global(.__wab_instance) {
  position: relative;
  width: auto;
  align-self: stretch;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
.fakeStack {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  align-self: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  z-index: -1px;
  margin-top: -4px;
  background: rgba(68, 192, 255, 0);
}
.freeBox__ggPUt {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  width: auto;
  height: 10px;
  right: 10px;
  background: var(--token--rHoLYgRbp4y);
}
.freeBoxglobal_theme_dark__ggPUte9E9C {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  background: var(--token-dUy2qmqTXN9m);
}
.freeBox__qqsjL {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  left: 5px;
  top: 0px;
  width: auto;
  right: 5px;
  height: 10px;
  z-index: -1px;
  background: var(--token--rHoLYgRbp4y);
}
.freeBoxglobal_theme_dark__qqsjLe9E9C {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  background: var(--token-dUy2qmqTXN9m);
}
.freeBox__zvGx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___9Gu6C {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #2563eb1a;
  box-shadow: 0px 4px 16px 0px #12121214;
  column-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px dashed var(--token-RweFaeFLMIES);
}
.text__bo8Ul {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-RweFaeFLMIES);
  font-size: 16px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "yekan_bakh", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bo8Ul {
    white-space: pre-wrap;
  }
}
.text__uNWb {
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-RweFaeFLMIES);
  color: var(--token-jgohepLVeKvh);
  font-size: 15px;
  position: relative;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  border-radius: 8px;
  padding: 4px 16px 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uNWb {
    padding: 2px 6px 0px;
  }
}
