.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-riOO7VGd6zgE);
  grid-row-gap: var(--token-6eH8UjLOmr7v);
  padding-top: 100px;
  padding-bottom: 80px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 80px var(--token-6eH8UjLOmr7v) 70px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_theme_dark > * {
  grid-column: 4;
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_theme_dark > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant > * {
    grid-column: 4;
  }
}
.rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant_global_theme_dark > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootglobal_unnamedGlobalGroupOfVariants_unnamedVariant_global_theme_dark
    > * {
    grid-column: 4;
  }
}
.rootinformation > * {
  grid-column: 4;
}
.rootdercentage > * {
  grid-column: 4;
}
.rootspecialized > * {
  grid-column: 4;
}
.rootdercentage_information > * {
  grid-column: 4;
}
.rootdercentage_specialized > * {
  grid-column: 4;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.modal__modal :global(.ant-modal-content) {
  outline: none;
  border-radius: 0px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal:global(.__wab_instance) {
    top: 0;
    right: 0;
    left: 0;
    margin: 0px;
  }
}
.backgrond:global(.__wab_instance) {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.freeBox__xSFO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__tAoo6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-height: 0;
  padding: var(--token-QMEhwYzwsf71);
}
.reveal__fi7Ih:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.loadingConclusion__c2ALm:global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text___4OXwR {
  width: 100%;
  font-size: var(--token-Gq2ZclrSKBOi);
  min-width: 0;
}
.reveal__n80Lm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.loadingConclusion__qkst:global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__xzUxX {
  width: 100%;
  font-size: var(--token-Gq2ZclrSKBOi);
  min-width: 0;
}
.freeBox__tOJjM {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: 0;
  bottom: var(--token-QMEhwYzwsf71);
  right: 0;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.text__w8PzZ {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-size: var(--token-7E1YyiP6sAP9);
  font-weight: 700;
  padding: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy)
    var(--token-3WxvfyIdJppy) var(--token-omrXvBNBcWTN);
}
.text__zuZtW {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-size: var(--token-7E1YyiP6sAP9);
  font-weight: 700;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  padding-bottom: var(--token-3WxvfyIdJppy);
  padding-top: var(--token-3WxvfyIdJppy);
}
.section__r0Aj {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__r0Aj > * {
  grid-column: 4;
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  left: auto;
  top: auto;
  z-index: 52;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg___30Ty {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
}
.paziresh24Avatar__etGjv:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  height: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Avatar__etGjv:global(.__wab_instance) {
    width: 30px;
    height: 30px;
  }
}
.freeBox__dgteT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tktV {
  flex-direction: column;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-riOO7VGd6zgE);
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: none;
  padding: var(--token-6eH8UjLOmr7v);
}
.paziresh24Button___2SVaX:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__pGoTa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__eRGxr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__zg6We {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wtLg {
  display: none;
}
.svg__xZnC3 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__hvSte {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hvSte {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__aSXm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-RvPI6LyeIPmd);
  min-width: 0;
}
.text__tz4Er {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.freeBox__iiNee {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-6eH8UjLOmr7v);
  grid-column-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: 0px;
}
.freeBox__sy1Ij {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      var(--token-jgohepLVeKvh),
      var(--token-jgohepLVeKvh)
    ),
    url("https://studio.plasmic.app/static/img/placeholder.png") top 50% left
      50% / cover repeat;
  row-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: 0px;
  border-width: 1px;
}
.freeBox__lwrUx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: var(--token-3WxvfyIdJppy) var(--token-3WxvfyIdJppy) 0px;
  margin: 0px;
}
.freeBox__jSzzL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: 0px 0px 8px;
}
.freeBox__yIfMq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: 0px;
}
.text___99TDe {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
}
.percentageBox__wTlKj:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.percentageBoxinformation__wTlKj8P0Rz:global(.__wab_instance) {
  display: flex;
}
.text__j0SxV {
  font-size: var(--token-KUiXUfHPkqkm);
  align-self: center;
  font-weight: 500;
  padding-right: var(--token-omrXvBNBcWTN);
  padding-left: var(--token-omrXvBNBcWTN);
  text-align: right;
}
.textdercentage__j0SxV2Sg6V {
  align-self: center;
  font-weight: 700;
  filter: brightness(80%);
}
.buttonLiom3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__o7K2E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gRHw {
  text-align: left;
  color: var(--token-QR8ATjORhQqO);
  font-weight: 700;
}
.svg__tIoAa {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.collapse3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text___7BxPb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-KUiXUfHPkqkm);
  font-weight: 400;
  color: var(--token-zux6fVI6aE30);
  min-width: 0;
}
.text__nxiCy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  color: var(--token-zux6fVI6aE30);
  text-align: right;
  min-width: 0;
}
.img__pqmT2 {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__pqmT2 > picture > img {
  object-fit: cover;
}
.img__hd3Nm {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__hd3Nm > picture > img {
  object-fit: cover;
}
.text__wynIw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-VzWdrvFHnhlm);
  font-size: 16px;
  font-weight: 500;
  padding-right: var(--token-KVcr9NiMwFLr);
  padding-left: var(--token-KVcr9NiMwFLr);
  min-width: 0;
}
.textinformation__wynIw8P0Rz {
  display: none;
}
.freeBox__q9Qjc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-omrXvBNBcWTN);
  padding: 0px;
}
.text__lxjOn {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
}
.svg__zgok {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.freeBox__crz8R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-omrXvBNBcWTN);
  padding: 0px;
}
.text__qKxO {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
}
.svg__sznxy {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__bUoDo {
  position: relative;
  background: var(--token-jgohepLVeKvh);
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  justify-self: auto;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  display: none;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
.freeBoxspecialized__bUoDoFomOb {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxspecialized__bUoDoFomOb {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text___1TuMq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-Gq2ZclrSKBOi);
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.freeBox__umGrc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lupa7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-zux6fVI6aE30);
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lupa7 {
    font-size: var(--token-podr231_9RBN);
  }
}
.freeBox__f1R9S {
  position: relative;
  background: var(--token-jgohepLVeKvh);
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-self: flex-end;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f1R9S {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBoxinformation__f1R9S8P0Rz {
  display: none;
}
.freeBoxspecialized__f1R9SFomOb {
  row-gap: var(--token-6eH8UjLOmr7v);
  column-gap: 0px;
}
.text__wQiNp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-Gq2ZclrSKBOi);
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.text__mGj9Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 400;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-RvPI6LyeIPmd);
  padding-bottom: var(--token-KVcr9NiMwFLr);
  min-width: 0;
}
.textspecialized__mGj9ZfomOb {
  display: none;
  padding: 0px;
}
.freeBox__qbs7C {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBoxspecialized__qbs7CfomOb {
  row-gap: var(--token-KVcr9NiMwFLr);
  column-gap: 0px;
  display: flex;
}
.freeBox__xarJz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px var(--token-KVcr9NiMwFLr);
  margin: 0px;
}
.freeBoxspecialized__xarJzfomOb {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px #00000014;
  row-gap: 8px;
  column-gap: 0px;
  border-radius: 8px;
  padding: var(--token-KVcr9NiMwFLr);
  border-right: 5px solid var(--token-RweFaeFLMIES);
}
.freeBox__r7HyV {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: 0px;
}
.icons__ckKdy:global(.__wab_instance) {
  position: relative;
}
.iconsspecialized__ckKdyFomOb:global(.__wab_instance) {
  display: none;
}
.percentageBox__jaUXj:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.text__vlgLk {
  font-size: var(--token-KUiXUfHPkqkm);
  align-self: center;
  font-weight: 500;
  padding-right: var(--token-omrXvBNBcWTN);
  padding-left: var(--token-omrXvBNBcWTN);
  text-align: right;
  display: none;
}
.text__kEthI {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
  font-weight: 500;
  align-self: center;
  color: #535353;
  padding: 0px;
}
.textspecialized__kEthIfomOb {
  font-weight: 700;
}
.freeBox___0KUzb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0KUzb {
    width: auto;
  }
}
.paziresh24Button__lAgGj:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-right: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  min-height: 0;
}
.paziresh24Buttonspecialized__lAgGjFomOb:global(.__wab_instance) {
  display: flex;
  margin: 0px;
}
.svg__aA9W {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-RweFaeFLMIES);
  width: 20px;
  height: 20px;
}
.freeBox__cDcD2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ihK1 {
  font-weight: 700;
  font-size: var(--token-KUiXUfHPkqkm);
  color: var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ihK1 {
    font-size: var(--token-P2saABvfDCPH);
  }
}
.textspecialized__ihK1FomOb {
  color: var(--token-RweFaeFLMIES);
  font-size: var(--token-Gq2ZclrSKBOi);
}
.svg__eJhy0 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox__lcS8B {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBoxspecialized__lcS8BFomOb {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.paziresh24Button__pbdX:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-right: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  min-height: 0;
}
.paziresh24Buttonspecialized__pbdXFomOb:global(.__wab_instance) {
  width: auto;
  margin-right: 0px;
  display: flex;
}
.svg__iBRyN {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 15px;
  height: 15px;
}
.svgspecialized__iBRyNfomOb {
  color: var(--token-RweFaeFLMIES);
}
.freeBox__aWpF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___9WbwN {
  font-weight: 700;
  font-size: var(--token-KUiXUfHPkqkm);
  color: var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9WbwN {
    font-size: var(--token-P2saABvfDCPH);
  }
}
.textspecialized___9WbwNfomOb {
  color: var(--token-RweFaeFLMIES);
  font-size: var(--token-Gq2ZclrSKBOi);
}
.svg__icXRp {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox___7K2F0 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
}
.hamdastUtilsOpenLink__maEg8:global(.__wab_instance) {
  max-width: 100%;
}
.buttonLiom7:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lwan4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__luhD {
  color: var(--token-ieogzVSSyrRx);
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__luhD {
    font-size: var(--token-P2saABvfDCPH);
  }
}
.svg___8KVlj {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__ryI9S {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: 0px;
}
.freeBox__m5OMm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px var(--token-KVcr9NiMwFLr);
  margin: 0px;
}
.freeBox___6HD7F {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: 0px;
}
.icons__utG3M:global(.__wab_instance) {
  position: relative;
}
.percentageBox__t9USj:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.text___2Wh6M {
  font-size: var(--token-KUiXUfHPkqkm);
  align-self: center;
  font-weight: 500;
  padding-right: var(--token-omrXvBNBcWTN);
  padding-left: var(--token-omrXvBNBcWTN);
  text-align: right;
  display: none;
}
.text__rVwS {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
  font-weight: 500;
  align-self: center;
  color: #535353;
  padding: 0px;
}
.freeBox__lc50W {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lc50W {
    width: auto;
  }
}
.paziresh24Button___7Fk4A:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-right: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  min-height: 0;
}
.svg__kooxA {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox__m6YcP {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__e4XVa {
  font-weight: 700;
  font-size: var(--token-KUiXUfHPkqkm);
  color: var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e4XVa {
    font-size: var(--token-P2saABvfDCPH);
  }
}
.svg___5Ph1M {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox__ppv1R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.hamdastUtilsOpenLink__myKf4:global(.__wab_instance) {
  max-width: 100%;
}
.buttonLiom4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bpMd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dlNf {
  color: var(--token-ieogzVSSyrRx);
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dlNf {
    font-size: var(--token-P2saABvfDCPH);
  }
}
.svg___7X077 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__mzAy8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  position: relative;
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mzAy8 {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    margin: 0px;
  }
}
.freeBoxinformation__mzAy88P0Rz {
  display: none;
}
.freeBox__v2LC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.text__fo0X {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.text__se2Ul {
  color: var(--token-SH2GlK2U7a6u);
  text-align: justify;
  width: 100%;
  min-width: 0;
}
.text__fCpeU {
  color: var(--token-lBXxoq0q4VUt);
  text-align: right;
  width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__ke2Tb {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-6eH8UjLOmr7v);
  grid-column-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  padding: 0px;
}
.freeBox___3GvY6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
  padding: 0px;
}
.freeBox__rZgJu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: 0px 0px var(--token-KVcr9NiMwFLr);
  margin: 0px;
}
.freeBox__b45Lz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: 0px;
}
.percentageBox__tFcgs:global(.__wab_instance) {
  position: relative;
  height: auto;
}
.text__vtkPr {
  font-size: var(--token-KUiXUfHPkqkm);
  align-self: center;
  font-weight: 500;
  padding-right: var(--token-omrXvBNBcWTN);
  padding-left: var(--token-omrXvBNBcWTN);
  text-align: right;
  display: none;
}
.svg___0AgVt {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  margin: 0.1rem;
}
.svgspecialized___0AgVtfomOb {
  width: 25px;
  height: 25px;
}
.text__xXc2 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  align-self: center;
  padding: var(--token-omrXvBNBcWTN) var(--token-KVcr9NiMwFLr);
}
.textspecialized__xXc2FomOb {
  font-size: var(--token-h-BgcI1FtWRI);
  text-decoration-line: underline !important;
  font-weight: 500;
}
.freeBox__zrbb2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zrbb2 {
    width: auto;
  }
}
.freeBox__bKpwS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  box-shadow: none;
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bKpwS {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: var(--token-3WxvfyIdJppy);
  }
}
.freeBoxinformation__bKpwS8P0Rz {
  display: none;
}
.freeBoxspecialized__bKpwSfomOb {
  display: none;
}
.freeBox__kgya4 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__z8Xba {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.freeBox__djnjd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__djnjd {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    row-gap: 0px;
  }
}
.text__hyDnv {
  color: #7444bc;
  text-align: justify;
  width: 100%;
  font-weight: 500;
  text-decoration-line: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hyDnv {
    text-align: justify;
    padding-top: 0px;
  }
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  height: 80px;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lottie:global(.__wab_instance) {
    width: 80px;
    height: auto;
    margin-left: -5px;
    flex-shrink: 0;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rQkBj {
  position: relative;
  background: var(--token-jgohepLVeKvh);
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-self: auto;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rQkBj {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBoxspecialized__rQkBjFomOb {
  display: none;
}
.text___0YW7K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-Gq2ZclrSKBOi);
  color: var(--token-84PkxcVKH9-F);
  min-width: 0;
}
.freeBox__vEyWx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__u2Gx8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-zux6fVI6aE30);
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u2Gx8 {
    font-size: var(--token-podr231_9RBN);
  }
}
.freeBox__h7NwZ {
  position: relative;
  background: var(--token-jgohepLVeKvh);
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-self: auto;
  row-gap: var(--token-6eH8UjLOmr7v);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h7NwZ {
    width: 100%;
    row-gap: var(--token-omrXvBNBcWTN);
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__zspZ6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  min-width: 0;
}
.freeBox__cwThE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-KDnC5QlJdkgq);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cwThE {
    justify-content: space-evenly;
    padding: var(--token-KVcr9NiMwFLr);
  }
}
.stars__vI9Lj:global(.__wab_instance) {
  position: relative;
}
.freeBox__sgOCx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xlHjm {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 2px;
  border-width: 0.1rem;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.paziresh24Button__kDEph:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
  margin: var(--token-6eH8UjLOmr7v) var(--token-KVcr9NiMwFLr) 0px;
}
.svg___1LpBj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__guVn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__wwEhB:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__lcy4S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__n4XQf {
  font-size: var(--token-podr231_9RBN);
}
.svg__hs7Et {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xqVc8 {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  right: 0;
  background: #00000033;
  min-height: 0;
  padding: 8px;
}
.svg__vXrcx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-s_XuzePAGmOh);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 100;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___4MJGg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-6eH8UjLOmr7v);
}
.svg__boGu {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__m21QZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: var(--token-3WxvfyIdJppy);
  padding-bottom: var(--token-3WxvfyIdJppy);
  margin-top: var(--token-3WxvfyIdJppy);
  min-width: 0;
  border-top: 1px solid var(--token-4iQ-8GWBqX6X);
}
.alert__ojW2B:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__cIuuh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
}
.freeBox__z6AUi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox___55QU {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__xvU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.paziresh24Avatar__ppn9L:global(.__wab_instance) {
  max-width: 100%;
  width: 74px;
  height: 74px;
  flex-shrink: 0;
}
.freeBox__ncdy0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8Mbe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  row-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Gq2ZclrSKBOi);
  text-align: right;
  min-width: 0;
}
.paziresh24LineClamp:global(.__wab_instance) {
  max-width: 100%;
}
.cardSubtitle {
  height: auto;
  font-size: var(--token-podr231_9RBN);
  font-weight: 400;
  white-space: pre-wrap;
  min-width: auto;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__vhDZa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0.5rem;
  column-gap: var(--token-omrXvBNBcWTN);
  min-width: 0;
}
.svg___4UogS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-txtIJoASUNtv);
  margin-bottom: 5px;
  filter: none;
  box-shadow: none;
  flex-shrink: 0;
}
.span__w7U14 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PvbqFVJaOepe);
  font-weight: 500;
  font-size: var(--token-podr231_9RBN);
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.span__lTyi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-podr231_9RBN);
  font-family: "yekan_bakh", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.alert__bdt9J:global(.__wab_instance) {
  max-width: 85%;
}
.hamdastUtilsOpenLink__nMdwz:global(.__wab_instance) {
  max-width: 100%;
}
.paziresh24Button__hZeLs:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__v05S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__s56Rl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.hamdastUtilsOpenLink__bfpXh:global(.__wab_instance) {
  max-width: 100%;
}
.paziresh24Button___3Plz2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__xDfIk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__n6DEw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__iL8Gu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-KDnC5QlJdkgq);
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__k4ZuN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__e4MpW {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-j-ZwOKbpUCqd);
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
}
.text__c0Uj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-7E1YyiP6sAP9);
  color: var(--token-HxnmpURJ0E1r);
  font-weight: 700;
  min-width: 0;
}
.paziresh24Button__q7Gs:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nziFq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__q7RiQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section___72Rh {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 10;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___72Rh > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___72Rh > * {
    grid-column: 4;
  }
}
.freeBox__cgHuj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  column-gap: var(--token-KVcr9NiMwFLr);
  min-width: 0;
  padding: var(--token-KVcr9NiMwFLr) var(--token-KVcr9NiMwFLr)
    var(--token-6eH8UjLOmr7v);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cgHuj {
    width: 100%;
    padding-bottom: var(--token-3WxvfyIdJppy);
    justify-content: center;
    align-items: center;
    padding-right: var(--token-3WxvfyIdJppy);
    padding-left: var(--token-3WxvfyIdJppy);
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.paziresh24Button__bQwg:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Button__bQwg:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.paziresh24Buttonspecialized__bQwgfomOb:global(.__wab_instance) {
  display: flex;
}
.svg__oiRsc {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox__sizyW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__fcfJr {
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fcfJr {
    font-size: var(--token-KUiXUfHPkqkm);
  }
}
.text__xiqgZ {
  font-weight: 700;
  font-size: var(--token-P2saABvfDCPH);
  color: var(--token-LN1YkB123lXQ);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xiqgZ {
    font-size: 0.6rem;
  }
}
.textspecialized__xiqgZfomOb {
  display: none;
}
.svg__ycWz4 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.paziresh24Button___63KbV:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ichS {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox__uIu4M {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__dySaV {
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dySaV {
    font-size: var(--token-KUiXUfHPkqkm);
  }
}
.svg__qPkO {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.paziresh24Button__jgQvr:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.paziresh24Buttonspecialized__jgQvrFomOb:global(.__wab_instance) {
  display: flex;
}
.svg__stFpr {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.freeBox__wNquR {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ep2WH {
  font-weight: 700;
  font-size: var(--token-podr231_9RBN);
  color: var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ep2WH {
    font-size: var(--token-KUiXUfHPkqkm);
    width: 100%;
    text-align: center;
    min-width: 0;
  }
}
.svg__hmVgk {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-jgohepLVeKvh);
  width: 25px;
  height: 25px;
}
.paziresh24Button__wlNh:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Button__wlNh:global(.__wab_instance) {
    width: auto;
    height: 100%;
    min-height: 0;
  }
}
.svg__auBOx {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  max-width: 25px;
  color: var(--token-jgohepLVeKvh);
}
.svg__aC61O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialog2:global(.__wab_instance):global(.__wab_instance) {
    z-index: 50;
    left: auto;
    top: auto;
    position: relative;
    right: auto;
    bottom: auto;
  }
}
.text__xrMfl {
  width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox___4Me8O {
  position: relative;
  background: var(--token-jgohepLVeKvh);
  max-width: 100%;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-self: auto;
  row-gap: var(--token-KDnC5QlJdkgq);
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
}
.freeBox__gVnJr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gVnJr {
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    overflow: visible;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 0;
    min-height: 0;
    padding: 0px;
  }
}
.stars__yNjou:global(.__wab_instance) {
  position: relative;
  margin-left: var(--token-KVcr9NiMwFLr);
  margin-right: var(--token-KVcr9NiMwFLr);
}
.freeBox__cfpjx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mApC {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 2px;
  border-width: 0.1rem;
}
.textArea2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__c8Uan {
  display: block;
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  min-height: 0;
  padding: 8px;
}
.paziresh24Button__aiJcb:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  margin: var(--token-6eH8UjLOmr7v) var(--token-KVcr9NiMwFLr) 0px;
}
.svg___7J47C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__m9Tgg {
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
}
.svg__sayga {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.directDialog:global(.__wab_instance) {
  max-width: 100%;
}
.profile:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__a7Gue {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: var(--token-QR8ATjORhQqO);
  min-width: 0;
}
.freeBox___1LcnB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 16px 8px 0px;
}
.radioGroup:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__dBvud {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: var(--token-QlibYU2ZEF3q);
  min-width: 0;
}
.radio__j7NzX:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__mOhSd:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__lvyS5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 14px;
  min-width: 0;
  padding: 0px;
}
.freeBox__uFEwt {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.name:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.svg__cY8F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__g4Cfh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___5O5T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__mL9LQ {
  width: 100%;
  text-align: justify;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__ks4Vm {
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  row-gap: 4px;
  min-width: 0;
  display: none;
}
.name2:global(.__wab_instance) {
  max-width: 100%;
}
.svg___2Ma5S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vLElJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hJaC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__vTvqO {
  width: 100%;
  text-align: justify;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__m9AMe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 14px;
  min-width: 0;
  padding: 0px;
}
.code:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dtJlS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dbn1U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yEk69 {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  min-width: 0;
}
.freeBox__ke6Or {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.text__mnIjq {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  min-width: 0;
}
.select:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  min-width: 0;
}
.text__liB2T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-right: 8px;
  font-size: 13px;
  color: var(--token-mIaQ7cfg3AGq);
  padding-top: 4px;
  min-width: 0;
}
.freeBox__okDm5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 14px;
  min-width: 0;
  padding: 0px;
}
.mobile:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.svg__zwlyt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pAftI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yz7C {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  min-width: 0;
}
.email:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__h6B0J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__e70Co {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kprY2 {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.freeBox___91NgY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.gender2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  row-gap: 2px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gender2 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.text___8Ky5K {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  color: var(--token-eAGGWpRlc3eE);
  font-weight: 500;
  font-size: 14px;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8Ky5K {
    font-size: var(--token-qzx3-mOfPuXh);
  }
}
.freeBox___2KXc2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 14px;
  min-width: 0;
  padding: 0px;
}
.radioGrop:global(.__wab_instance) {
  position: relative;
}
.text__jS32 {
  font-size: 12px;
  font-weight: 500;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.text__aqei {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-right: 8px;
  font-size: 13px;
  color: var(--token-mIaQ7cfg3AGq);
  min-width: 0;
}
.freeBox__rBzfs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 2px;
  min-width: 0;
  padding: 0px;
}
.text__ioNQl {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  min-width: 0;
}
.freeBox__tbLxu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 2px;
  border-width: 1px;
}
.textArea3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.buttonLiom5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: 16px;
  min-width: 0;
}
.svg__kk3Ou {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zxQqe {
  font-weight: 700;
  font-size: 16px;
  color: #ededec;
}
.svg__atOq0 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__uh1Cb {
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0;
  left: 0;
  right: auto;
  z-index: 55;
  min-width: 0;
  display: none;
  padding: 14px 14px 8px;
}
.freeBoxspecialized__uh1CbFomOb {
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
  row-gap: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxspecialized__uh1CbFomOb {
    justify-content: flex-end;
    align-items: center;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.section__r0Pb1 {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 14px 14px 8px;
}
.section__r0Pb1 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__r0Pb1 > * {
    grid-column: 4;
  }
}
.sectionspecialized__r0Pb1FomOb > * {
  grid-column: 4;
}
.buttonLiom6:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonLiom6:global(.__wab_instance) {
    margin-left: 0px;
    width: auto;
  }
}
.buttonLiom6specialized:global(.__wab_instance) {
  width: auto;
}
.svg___4M7Gn {
  position: relative;
  object-fit: cover;
  width: 25px;
  height: 25px;
  color: var(--token-jgohepLVeKvh);
}
.text__blWVv {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: none;
  align-self: center;
  color: var(--token-ieogzVSSyrRx);
  font-weight: 500;
  min-width: 0;
  border-radius: var(--token-KVcr9NiMwFLr);
  padding: 0px;
}
.svg__hMpEo {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
