.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f7;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_theme_dark > * {
  grid-column: 4;
}
.freeBox__ckmA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 0px;
  margin: 0px 0px 115px;
}
.freeBox__taaNs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  row-gap: 10px;
  min-height: 0;
  padding: var(--token-NA4_kBQtzoXQ);
}
.freeBox___2E64A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  column-gap: 20px;
  min-width: 0;
  padding: 10px;
}
.nofiticon:global(.__wab_instance) {
  max-width: 100%;
  width: 45px;
  align-self: center;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__eVpM5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text___8JvAh {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-weight: 900;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__nwXcl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.switchbest:global(.__wab_instance) {
  max-width: 100%;
}
.text__wLIxU {
  font-weight: 700;
}
.freeBox__u3Myr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nAPtm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  box-shadow: none;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
}
.text__nG21 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
}
.text__vJr4Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 17px;
  font-weight: 700;
  color: var(--token-SH2GlK2U7a6u);
}
.freeBox__d172H {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 0px 2px 2px var(--token-mIaQ7cfg3AGq);
  min-width: 0;
  border-radius: 12px;
  padding: 10px;
}
.text__cgJK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
}
.countdown2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__jr4Mb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__ttAln {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8254c61a;
  box-shadow: none;
  column-gap: 5px;
  min-width: 0;
  border-radius: var(--token-aPK4EUZLLI5r);
  padding: 20px;
}
.text__lFs8Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: var(--token-KQzlF1TU-E77);
  font-weight: 400;
  padding-right: 0px;
  padding-left: var(--token-oBl_q7A3cnkA);
  font-style: normal;
  color: var(--token-QR8ATjORhQqO);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
  min-width: 0;
}
.svg__rnPl {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  z-index: 1;
  align-self: flex-start;
  color: var(--token-2aHIw8xI62Xi);
  flex-shrink: 0;
}
.freeBox__a9Ey {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
.cyclebox:global(.__wab_instance) {
  position: relative;
  width: 40%;
  height: 100%;
  min-height: 0;
}
.freeBox__xUe {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.text__dR2Wa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-O-63NKRcNhLJ);
  text-align: center;
  align-self: center;
  font-size: var(--token-bucIARGmMoc6);
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__dbAZo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  text-align: center;
  align-self: center;
  font-size: var(--token-bucIARGmMoc6);
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__c99Ma {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  max-width: 100%;
  background: none;
  margin-top: 10px;
  margin-bottom: 10px;
  row-gap: 20px;
  min-height: 0;
  border-radius: var(--token-NA4_kBQtzoXQ);
}
.freeBox__wGuiA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #00000024;
  align-self: flex-start;
  row-gap: 5px;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-aPK4EUZLLI5r);
  padding: 0px;
}
.freeBox___6Fxqz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__qQ5Oc {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-QR8ATjORhQqO);
  flex-shrink: 0;
  margin: 10px 24px 5px 10px;
}
.text__mbDeA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-QR8ATjORhQqO);
  min-width: 0;
}
.freeBox__s7Bbi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 10px 30px 20px;
}
.text__yByFb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 400;
  font-size: 20px;
  min-width: 0;
  padding: 0px;
}
.freeBox__uDwCu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #00000024;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-aPK4EUZLLI5r);
  padding: 0px;
}
.freeBox___8Zvqs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__jjl2E {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-mIaQ7cfg3AGq);
  flex-shrink: 0;
  margin: 10px 24px 5px 10px;
}
.text__o6GHu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-mIaQ7cfg3AGq);
  min-width: 0;
}
.freeBox__qIZgS {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 20px;
}
.freeBox___3VB9U {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__yJm5H {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text___0Mssb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: var(--token-KQzlF1TU-E77);
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__zwEmC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___8GmTj {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
  min-width: 0;
}
.text__em0UB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: var(--token-KQzlF1TU-E77);
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__wyVgS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox___1FreO {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #00000024;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-aPK4EUZLLI5r);
  padding: 0px;
}
.freeBox__b9ZAr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 15px;
  border-bottom: 2px solid #00c37180;
}
.text__cTmbQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  color: #00a660;
  background: none;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__d07IX {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px 20px 15px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___0Oskc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__h6Hff {
  font-size: 16px;
  text-align: right;
  text-decoration-line: none;
}
.freeBox___5OdO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 2px;
}
.text___2U1Ka {
  font-size: 13px;
  color: var(--token-RvPI6LyeIPmd);
  text-align: right;
  user-select: text;
  white-space: pre-wrap;
}
.freeBox__gIaWb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid var(--token-QR8ATjORhQqO);
}
.text__x1USu {
  font-size: 11px;
  color: var(--token-QR8ATjORhQqO);
  text-align: right;
  user-select: text;
  white-space: pre;
  font-weight: 700;
  cursor: pointer;
}
.freeBox__xyt9T {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__wcQxv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__t6C3S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__b80Ke {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  overflow: auto;
  column-gap: 15px;
  padding: 8px 0px;
}
.useful2:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
}
.useful:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text___7Np4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  min-width: 0;
}
.freeBox__camig {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__mabu1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__rMeHs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___0CVv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  column-gap: 15px;
  min-width: 0;
  padding: 8px 0px;
}
.harmful2:global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  align-self: flex-start;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.harmful:global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__tsEsr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0;
  min-width: 0;
}
.shopModalWeb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  margin-bottom: 19px;
  padding-bottom: 20px;
  transition-property: all;
  transition-duration: 1s;
  filter: none;
  backdrop-filter: none;
  transform: none;
  align-self: center;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 30px;
}
.freeBox__uPWzg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 25px;
  min-width: 0;
  padding: 30px 10px;
}
.subscription:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__aZqNo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6ZKty {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.svg__gr04Y {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-jgohepLVeKvh);
}
.freeBox__hh0Fl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 0px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  margin-bottom: 19px;
  padding-bottom: 20px;
  text-align: left;
  backface-visibility: hidden;
  align-self: center;
  right: 0;
  bottom: 0;
}
.freeBox__hnha1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 25px;
  min-width: 0;
  padding: 10px;
}
.text__rd6LF {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
}
.text___09Kc {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: justify;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  min-width: 0;
  min-height: 0;
  padding: 10px;
}
.modal3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  margin-bottom: 19px;
  padding-bottom: 20px;
  text-align: left;
  backface-visibility: hidden;
  align-self: center;
  right: 0;
  bottom: 0;
}
.freeBox__qecVj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 25px;
  min-width: 0;
  padding: 10px;
}
.text__ykZjl {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
}
.text__mkgxi {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: justify;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  min-width: 0;
  min-height: 0;
  padding: 10px;
}
.freeBox__f04KN {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__kYmwy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px #0000001a;
  row-gap: 0px;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
}
.freeBox__oPcwv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
  border-color: #cbcbcb;
}
.text__x2Ncw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: var(--token-aPK4EUZLLI5r) var(--token-aPK4EUZLLI5r) 0px;
}
.freeBox__gw7Kx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 20px 8px 8px;
}
.ol___3S0Jz {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  row-gap: 10px;
}
.li__uJmLh {
  text-align: justify;
}
.li__dil7V {
  text-align: justify;
  color: var(--token-QR8ATjORhQqO);
}
.li__evWa7 {
  text-align: justify;
}
.li__tDmf7 {
  text-align: justify;
  color: var(--token-QR8ATjORhQqO);
}
.li__eAvj1 {
  text-align: justify;
}
.freeBox__hbAdP {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 20px 20px;
}
.freeBox___9Yz6C {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px #0000001a;
  left: auto;
  top: auto;
  row-gap: 5px;
  min-width: 0;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #d2d2d2;
}
.freeBox__iCiLm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 5px;
}
.text__hSsQq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-B10hUni6jzpI);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___519P {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___7VtWe {
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: line-through;
  text-overflow: clip;
  align-self: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding-left: 50px;
  min-width: 0;
}
.text__mnB1Y {
  position: relative;
  align-self: center;
  text-overflow: clip;
  text-decoration-line: none;
  user-select: text;
  white-space: pre-wrap;
  letter-spacing: normal;
  line-height: 1.5;
  text-transform: none;
  text-align: left;
  color: #535353;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-shrink: 1;
  margin-right: 0px;
  min-width: 0;
}
.freeBox__cs1Ck {
  display: flex;
  position: sticky;
  width: 40px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}
.text___2SLx3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
}
.text__dO5Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-start;
  padding-right: 10px;
  padding-left: 10px;
  color: #8254c6;
  min-width: 0;
}
.freeBox___6RhjR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  border-radius: 8px;
  padding: 0px;
  margin: 8px;
}
.freeBox__n5ESa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__k5F6 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #8254c6;
}
.freeBox__ju2Yj {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
  background: #00c3711a;
  min-width: 0;
  min-height: 0;
  border-radius: 5px;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 40%;
}
.svg___88XQj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ragNw {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kiMvj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__w3Oe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.svg__rKz2N {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.p___6H0ZW {
  text-align: center;
  font-size: 14px;
  color: #898989;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
}
.p__rhTF {
  text-align: center;
  font-size: 12px;
  color: #898989;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
}
.shopModalMobile:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
}
.freeBox__ifzSa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__v1YV4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 25px;
  min-width: 0;
  padding: 30px 10px;
}
.subscription2:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__lbwFl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nmvsb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.svg__lwN0W {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-jgohepLVeKvh);
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 1118px;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: fixed;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.modal__modal :global(.ant-modal-content) {
  background: #f7f7f7;
  overflow: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  outline: none;
  border-radius: 0px;
}
.modal__modal :global(.ant-modal-close) {
  width: 50px;
  height: 50px;
  outline: none;
}
.freeBox__gT0Yi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  padding: 0px;
}
.freeBox__wZaku {
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  max-width: 100%;
  padding: 8px;
}
.freeBox__sXXx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  align-self: center;
  margin-top: 0px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__o8W38 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 700px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__phbL {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px #0000001a;
  row-gap: 0px;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
}
.freeBox__tFerP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
  border-color: #cbcbcb;
}
.text__dPkDd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: var(--token-aPK4EUZLLI5r) var(--token-aPK4EUZLLI5r) 0px;
}
.freeBox__mriMj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 20px 8px 8px;
}
.ol__uiBVc {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  row-gap: 10px;
}
.li__wqWdI {
  text-align: justify;
}
.li__nVpBq {
  text-align: justify;
  color: var(--token-QR8ATjORhQqO);
}
.li__a74Wf {
  text-align: justify;
}
.li__wnTrr {
  text-align: justify;
  color: var(--token-QR8ATjORhQqO);
}
.li__gMtMi {
  text-align: justify;
}
.freeBox__tP3Bu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 20px 20px;
}
.freeBox___1DKxu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px #0000001a;
  left: auto;
  top: auto;
  row-gap: 5px;
  min-width: 0;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #d2d2d2;
}
.freeBox__wazYq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 5px;
}
.text__wPKkU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: var(--token-B10hUni6jzpI);
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__cuQKr {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__uJpuZ {
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: line-through;
  text-overflow: clip;
  align-self: center;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding-left: 50px;
  min-width: 0;
}
.text__zMfmz {
  position: relative;
  align-self: center;
  text-overflow: clip;
  text-decoration-line: none;
  user-select: text;
  white-space: pre-wrap;
  letter-spacing: normal;
  line-height: 1.5;
  text-transform: none;
  text-align: left;
  color: #535353;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-shrink: 1;
  margin-right: 0px;
  min-width: 0;
}
.freeBox__h65Gw {
  display: flex;
  position: sticky;
  width: 40px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}
.text__xlXzt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
}
.text__kd8Ik {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-start;
  padding-right: 10px;
  padding-left: 10px;
  color: #8254c6;
  min-width: 0;
}
.freeBox__bYlG4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  border-radius: 8px;
  padding: 0px;
  margin: 8px;
}
.freeBox__fphVi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__v6BoP {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #8254c6;
}
.freeBox__foDlI {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
  background: #00c3711a;
  min-width: 0;
  min-height: 0;
  border-radius: 5px;
  padding: 8px;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 40%;
}
.svg__bjo4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__n2H9I {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
}
.svg__xAqyy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nwX9M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.svg__uPa9N {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.p__ust7I {
  text-align: center;
  font-size: 14px;
  color: #898989;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
}
.p__vFkvO {
  text-align: center;
  font-size: 12px;
  color: #898989;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
}
.svg__eJlg8 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
}
.todo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tooltip:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.freeBox__vp8M7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #0000003b;
  display: none;
  border-radius: 50%;
  padding: 8px;
}
.heart:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.freeBox__gDiYk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  padding: 8px;
}
.lottie:global(.__wab_instance) {
  max-width: 200%;
  object-fit: cover;
  color: #964242;
  background: none;
  height: 200px;
  width: 200px;
  flex-shrink: 0;
}
.user:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shop:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.advice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__liIvB {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px 3px 5px 5px #0000000d;
  justify-self: flex-start;
  column-gap: 20px;
  min-width: 0;
  padding: 10px 20px;
}
.freeBox__vj71P {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8254c61a;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
.svg__jujLk {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-QR8ATjORhQqO);
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
.text__zPp57 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-QR8ATjORhQqO);
  font-size: 16px;
  min-width: 0;
}
.freeBox__tm4Ar {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
.svg__gisi {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
.text__payJd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-TpmbTrq5hCAj);
  font-size: 16px;
  min-width: 0;
}
.freeBox___8Jt3Q {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
.svg__uDo5A {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
.text___9MY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-TpmbTrq5hCAj);
  font-size: 16px;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.countNotif:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__psYig {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iDPm4 {
    display: block;
  }
}
