.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.embedHtml__oNhHy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.paziresh24LineClamp:global(.__wab_instance) {
  max-width: 100%;
}
.text__sRsBv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__d661F {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 64px 12px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d661F {
    width: 100%;
    row-gap: 16px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__vYj9V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-ieogzVSSyrRx);
  box-shadow: 0px 4px 16px 0px #00000014;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 16px 24px;
}
.text__alpyf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__l5Q6W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hnsdU {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-ieogzVSSyrRx);
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg___0T5ZJ {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.vigetLiom:global(.__wab_instance) {
  position: relative;
}
.text__bePzd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-84PkxcVKH9-F);
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 0px;
}
.embedHtml__nPzD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__uuoLg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
.freeBox__oJsnr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.text___8NxFz {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  white-space: pre;
  font-weight: 700;
  color: var(--token-zux6fVI6aE30);
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
}
.text__pOz2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  white-space: pre;
  font-size: 12px;
  color: var(--token-zux6fVI6aE30);
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  min-width: 0;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__kET7 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zux6fVI6aE30);
  width: 20px;
  height: 20px;
}
.freeBox__t45E2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__iBtZq {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-zux6fVI6aE30);
}
.text__oQyPs {
  color: var(--token-zux6fVI6aE30);
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__eTNau {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button7:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___6UMgj {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-zux6fVI6aE30);
}
.text__m8Gse {
  color: var(--token-zux6fVI6aE30);
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__rujHn {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__qdGv0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__eiMgi {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-zux6fVI6aE30);
  align-self: center;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__fyb2W {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 100px;
  padding: 4px 8px;
  border-width: 1px;
}
.text__ql0Fq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  align-self: center;
  color: #535353;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 0px;
}
.switchbest:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 16px;
  top: -3px;
}
.embedHtml__zeOPt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  margin-top: 8px;
  min-width: 0;
}
.img__uE8Hn {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
  opacity: 0.6;
}
.img__uE8Hn > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uE8Hn {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__paCXs {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__paCXs {
    height: auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0px;
  }
}
.card15 {
  background: none;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  row-gap: 10px;
  border-radius: 8px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card15 {
    left: auto;
    top: auto;
    position: relative;
    height: auto;
    width: 100%;
    min-width: 0;
    margin: 0px;
  }
}
.text___39Cwv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___39Cwv {
    font-size: 10px;
    width: 55%;
  }
}
.button9:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__bmQv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mjh9P {
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  padding: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mjh9P {
    font-size: 10px;
  }
}
.svg__ug4SD {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: #ededec;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ug4SD {
    width: 15px;
    height: 15px;
  }
}
.freeBox__wKej4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wKej4 {
    padding-left: 12px;
    padding-right: 12px;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.freeBox__d4SpL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__l0HqL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  column-gap: 8px;
  min-width: 0;
  padding: 5px 8px 8px;
}
.tabWidget:global(.__wab_instance) {
  max-width: 100%;
}
.text__zkHlQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wpBhW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
.freeBox___1RneI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 4px 16px 0px #12121214;
  background: var(--token-jgohepLVeKvh);
  margin-top: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___2Pah1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__qh3Px {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0% 0px 0px;
}
.freeBox__prqn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-_a8xNcbsYOO0);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__prqn {
    padding: 0px;
  }
}
.freeBox__gluq4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gluq4 {
    top: auto;
    left: auto;
    padding: 4px;
  }
}
.text__iXgtK {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8254c6;
  font-size: 25px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  text-decoration-line: none;
  font-family: "yekan_bakh", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iXgtK {
    font-size: 21px;
  }
}
.img__ecInm {
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  display: none;
  margin: -5px;
}
.img__ecInm > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ecInm {
    width: 15px;
    flex-shrink: 0;
    margin: -2px;
  }
}
.freeBox__lWslg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 6px;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid #e5e7eb;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lWslg {
    top: auto;
    left: auto;
  }
}
.text__qlZak {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #a082cb;
  font-size: 20px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "yekan_bakh", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qlZak {
    font-size: 16px;
  }
}
.text__oAXL {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #a082cb;
  font-size: 18px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "yekan_bakh", sans-serif;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oAXL {
    font-size: 13px;
  }
}
.freeBox__cc0Jl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 0px 0px;
}
.text__uIepJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "yekan_bakh", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uIepJ {
    font-size: 15px;
  }
}
.text__mJnu4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "yekan_bakh", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mJnu4 {
    font-size: 15px;
  }
}
.freeBox__eWfA {
  display: flex;
  position: relative;
  width: 220px;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 0px;
  flex-shrink: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eWfA {
    width: auto;
  }
}
.img__sdyM3 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  border-radius: 100%;
  margin: 0px;
  border: 6px solid #8254c64d;
}
.img__sdyM3 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sdyM3 {
    margin: 0px 10px;
    border-width: 4px;
  }
}
.freeBox___7Xfu9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  min-width: 0;
  padding: 0px 16px 8px;
}
.freeBox__ctvdL {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseBaby:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text__sjYFh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.text__weiaB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 13px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.img__khQ6B {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__khQ6B > picture > img {
  object-fit: cover;
}
.img__l9Hpk {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__l9Hpk > picture > img {
  object-fit: cover;
}
.freeBox__f8TFd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseMother:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text__u2Ytr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  margin: 0px;
}
.text__wnPxM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 13px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.img__hWuO {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__hWuO > picture > img {
  object-fit: cover;
}
.img__cIlAt {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__cIlAt > picture > img {
  object-fit: cover;
}
.freeBox__vpszJ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 17px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseHealth:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text___76Rms {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  margin: 0px;
}
.text__aM2Pc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 13px;
  font-family: "yekan_bakh", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.img__n1Ppm {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__n1Ppm > picture > img {
  object-fit: cover;
}
.img__xgGJn {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__xgGJn > picture > img {
  object-fit: cover;
}
.freeBox__yKtOj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1fa14f;
  margin-top: 12px;
  row-gap: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text___9E7U6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.text__qv0VX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  font-family: "yekan_bakh", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__r4KC1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  background: #26394b;
  overflow: auto;
  row-gap: 40px;
  border-radius: 12px;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r4KC1 {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin-top: 50px;
    row-gap: 28px;
    column-gap: 0px;
    min-width: 0;
    padding: 15px;
  }
}
.text__pP2ZN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-size: 20px;
  background: none;
  font-weight: 700;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 8px;
}
.freeBox__vf8W8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__paBdi {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.name:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .name:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__kqN7J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__ifqpb {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.lastname:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lastname:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__aAOfn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__yjtEb {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.fathername:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fathername:global(.__wab_instance) {
    border-width: 0px;
  }
}
.freeBox__tx4PZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__ppd8C {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.city:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
.freeBox__wQp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__nbD6 {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-Pxe4wDL2kJpb);
  width: auto;
  height: 25px;
  position: absolute;
  left: auto;
  top: 10px;
  margin-right: 0px;
  right: 8px;
}
.location:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #182b36;
  color: #ffffff;
  height: 50px;
  min-width: 0;
  padding: 20px 50px 20px 20px;
  border-width: 0px;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button5:global(.__wab_instance) {
    opacity: 1;
    width: 100%;
    min-width: 0;
  }
}
.svg__aYuxS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___5PCpk {
  font-size: 16px;
  font-weight: 700;
  font-family: "yekan_bakh", sans-serif;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5PCpk {
    font-weight: 700;
    font-size: 14px;
  }
}
.svg__fDfpV {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.paziresh24Avatar:global(.__wab_instance) {
  max-width: 100%;
}
