
.plasmic_tokens {
  --token-3MNJmQstkAEF: rgba(175, 47, 47, 0.15);
  --plasmic-token-header: var(--token-3MNJmQstkAEF);
  --token-riOO7VGd6zgE: rgb(245, 245, 245);
  --plasmic-token-page-bg: var(--token-riOO7VGd6zgE);
  --token--rHoLYgRbp4y: #ffffff;
  --plasmic-token-app-bg: var(--token--rHoLYgRbp4y);
  --token-NsilDmKRxbhl: rgb(230, 230, 230);
  --plasmic-token-unselected-chevron: var(--token-NsilDmKRxbhl);
  --token-ISd9D2gShbJx: rgb(230, 230, 230);
  --plasmic-token-input-placeholder: var(--token-ISd9D2gShbJx);
  --token-QK1pfAUeaOlV: rgb(119, 119, 119);
  --plasmic-token-footer-text: var(--token-QK1pfAUeaOlV);
  --token-dUy2qmqTXN9m: rgb(34, 34, 34);
  --plasmic-token-app-bg-dark: var(--token-dUy2qmqTXN9m);
  --token-PvZN5zHgaOeZ: rgb(0, 0, 0);
  --plasmic-token-page-bg-dark: var(--token-PvZN5zHgaOeZ);
  --token-Q0_e1tkwhCn4: rgb(113, 101, 101);
  --plasmic-token-header-dark: var(--token-Q0_e1tkwhCn4);
  --token-etx-O48lSsZ1: rgb(230, 230, 230);
  --plasmic-token-border-gray-light: var(--token-etx-O48lSsZ1);
  --token-P7bIEG7op5AV: rgb(48, 48, 48);
  --plasmic-token-border-gray-light-dark: var(--token-P7bIEG7op5AV);
  --token-zux6fVI6aE30: var(--token-QK1pfAUeaOlV);
  --plasmic-token-task-text: var(--token-zux6fVI6aE30);
  --token-oOeGbi3X8Rkv: rgb(234, 234, 234);
  --plasmic-token-task-text-dark: var(--token-oOeGbi3X8Rkv);
  --token-FlZQL5lIJ7ow: rgb(230, 230, 230);
  --plasmic-token-task-text-dim: var(--token-FlZQL5lIJ7ow);
  --token-eAGGWpRlc3eE: rgb(79, 79, 79);
  --plasmic-token-task-text-dim-dark: var(--token-eAGGWpRlc3eE);
  --token-dQZlVVgrRw9C: rgb(230, 230, 230);
  --plasmic-token-placeholder: var(--token-dQZlVVgrRw9C);
  --token-8vnfstFHZzkH: rgb(79, 79, 79);
  --plasmic-token-placeholder-dark: var(--token-8vnfstFHZzkH);
  --token-NA4_kBQtzoXQ: var(--antd-marginLG);
  --plasmic-token-system-margin-lg: var(--token-NA4_kBQtzoXQ);
  --token-KQzlF1TU-E77: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4: var(--token-KQzlF1TU-E77);
  --token-oBl_q7A3cnkA: var(--antd-margin);
  --plasmic-token-system-margin-m: var(--token-oBl_q7A3cnkA);
  --token-aPK4EUZLLI5r: var(--antd-marginSM);
  --plasmic-token-system-margin-sm: var(--token-aPK4EUZLLI5r);
  --token-jDzpDmxh8Pkm: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4-2: var(--token-jDzpDmxh8Pkm);
  --token-zqlsgWX7X6f9: var(--antd-marginSM);
  --plasmic-token-system-margin-sm-2: var(--token-zqlsgWX7X6f9);
  --token-XKptyQfzPWFF: var(--antd-fontSize);
  --plasmic-token-system-m: var(--token-XKptyQfzPWFF);
  --token-qzx3-mOfPuXh: var(--antd-fontSizeHeading5);
  --plasmic-token-system-heading-5: var(--token-qzx3-mOfPuXh);
  --token-ZrgM-hg5m56U: var(--antd-fontSizeSM);
  --plasmic-token-system-sm: var(--token-ZrgM-hg5m56U);
  --token-94FDUABm1ree: var(--antd-fontSizeSM);
  --plasmic-token-system-sm-2: var(--token-94FDUABm1ree);
  --token-QR8ATjORhQqO: #7444bc;
  --plasmic-token-purple: var(--token-QR8ATjORhQqO);
  --token-HFSv-V_E5BCA: #8254c61a;
  --plasmic-token-light-purple: var(--token-HFSv-V_E5BCA);
  --token-SH2GlK2U7a6u: #00c371;
  --plasmic-token-green: var(--token-SH2GlK2U7a6u);
  --token-mIaQ7cfg3AGq: #eb464a;
  --plasmic-token-red: var(--token-mIaQ7cfg3AGq);
  --token-6xdcKao1X4uU: #91654c;
  --plasmic-token-aaa: var(--token-6xdcKao1X4uU);
  --token-aAR23Q6LT5jS: #212121;
  --plasmic-token-back-card-dark: var(--token-aAR23Q6LT5jS);
  --token-iaaPj9k02a0E: #fffbff;
  --plasmic-token-surface: var(--token-iaaPj9k02a0E);
  --token-PvbqFVJaOepe: #8254c6;
  --plasmic-token-primary: var(--token-PvbqFVJaOepe);
  --token-97NydEULR06G: #f8edff;
  --plasmic-token-serface: var(--token-97NydEULR06G);
  --token-NXlEQg0VOw-c: #8f8f8f;
  --plasmic-token-hint: var(--token-NXlEQg0VOw-c);
  --token-84PkxcVKH9-F: #1d1b1e;
  --plasmic-token-title: var(--token-84PkxcVKH9-F);
  --token-txtIJoASUNtv: #ffb700;
  --plasmic-token-golden: var(--token-txtIJoASUNtv);
  --token-ieogzVSSyrRx: #ffffff;
  --plasmic-token-basic-container-background: var(--token-ieogzVSSyrRx);
  --token-QlibYU2ZEF3q: 0.25rem;
  --plasmic-token-size-4: var(--token-QlibYU2ZEF3q);
  --token-YgundgIw-wwU: 0.375rem;
  --plasmic-token-size-6: var(--token-YgundgIw-wwU);
  --token-4aPuAYbF3VsF: 0.625rem;
  --plasmic-token-size-10: var(--token-4aPuAYbF3VsF);
  --token-dhekOSlmbKIe: #d1d5db;
  --plasmic-token-basic-border: var(--token-dhekOSlmbKIe);
  --token-s5B1n5jFAIZn: 0.125rem;
  --plasmic-token-size-2: var(--token-s5B1n5jFAIZn);
  --token-RweFaeFLMIES: #2563eb;
  --plasmic-token-brand-brand: var(--token-RweFaeFLMIES);
  --token-1S9ocvls-LDz: 1rem;
  --plasmic-token-font-md: var(--token-1S9ocvls-LDz);
  --token-m4nn0EScIQfq: 1.25;
  --plasmic-token-line-height-md: var(--token-m4nn0EScIQfq);
  --token-M1MB1tnabti6: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-M1MB1tnabti6);
  --token-JvMUb9Ckm3n1: 1rem;
  --plasmic-token-size-16: var(--token-JvMUb9Ckm3n1);
  --token-16zuNC9DmE3-: #030712;
  --plasmic-token-basic-text-primary: var(--token-16zuNC9DmE3-);
  --token-NjYpxvgkr9XR: Inter;
  --plasmic-token-sans-serif: var(--token-NjYpxvgkr9XR);
  --token-Z2KSlolINemb: 0.75rem;
  --plasmic-token-font-sm: var(--token-Z2KSlolINemb);
  --token-qkxlliCzK7Dj: 1;
  --plasmic-token-line-height-sm: var(--token-qkxlliCzK7Dj);
  --token-yPdZh3caz4YD: 1.25rem;
  --plasmic-token-font-lg: var(--token-yPdZh3caz4YD);
  --token-jTnKN3OuYcLr: 1.4;
  --plasmic-token-line-height-lg: var(--token-jTnKN3OuYcLr);
  --token-jIJbQUPw_oHQ: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-jIJbQUPw_oHQ);
  --token-_a8xNcbsYOO0: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-_a8xNcbsYOO0);
  --token-naOKKZC5rCrA: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-naOKKZC5rCrA);
  --token-dg296SDgGzTR: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-dg296SDgGzTR);
  --token-v9UFcd2_ClYT: 0.5rem;
  --plasmic-token-size-8: var(--token-v9UFcd2_ClYT);
  --token-Yi5YqU3IyFTB: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-Yi5YqU3IyFTB);
  --token-AekDIPv7FLCv: #00000033;
  --plasmic-token-interaction-pressed: var(--token-AekDIPv7FLCv);
  --token-tBWdALhc4Vvq: 0.75rem;
  --plasmic-token-size-12: var(--token-tBWdALhc4Vvq);
  --token-zPlq2El9keze: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-zPlq2El9keze);
  --token-A2dA9bbnaPI0: 1.25rem;
  --plasmic-token-size-20: var(--token-A2dA9bbnaPI0);
  --token-qj2QmxcUZ5az: 2rem;
  --plasmic-token-size-32: var(--token-qj2QmxcUZ5az);
  --token-va8MDOUYwN-t: #9ca3af;
  --plasmic-token-basic-ring: var(--token-va8MDOUYwN-t);
  --token-Cyqx4U_W8gkN: 1.5rem;
  --plasmic-token-size-24: var(--token-Cyqx4U_W8gkN);
  --token-vdlageZuxQGi: #374151;
  --plasmic-token-neutral-neutral: var(--token-vdlageZuxQGi);
  --token-NkR_O_GW0jPH: #6b7280;
  --plasmic-token-muted-muted: var(--token-NkR_O_GW0jPH);
  --token-w3PrJKP-ChhI: #16a34a;
  --plasmic-token-success-success: var(--token-w3PrJKP-ChhI);
  --token-Il7ZoMFcv6kp: #facc15;
  --plasmic-token-warning-warning: var(--token-Il7ZoMFcv6kp);
  --token-3cTIho4ddH8d: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-3cTIho4ddH8d);
  --token-rkj7HqBnFPEa: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-rkj7HqBnFPEa);
  --token-6kCmnxbZ3lT1: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-6kCmnxbZ3lT1);
  --token-RRw3yRIZFbOC: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-RRw3yRIZFbOC);
  --token-mLX_1szqgMMa: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-mLX_1szqgMMa);
  --token-H-RoLfiTtSmm: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-H-RoLfiTtSmm);
  --token-_mgE1mebGBEx: #86efac;
  --plasmic-token-success-success-border: var(--token-_mgE1mebGBEx);
  --token-YTYtIfn9Segs: #fde047;
  --plasmic-token-warning-warning-border: var(--token-YTYtIfn9Segs);
  --token-Jm5GXqQcpmYw: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-Jm5GXqQcpmYw);
  --token-Kt8Srs4uCf0h: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-Kt8Srs4uCf0h);
  --token-MkOX0Stou6GF: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-MkOX0Stou6GF);
  --token-p3Neiwx8JMhX: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-p3Neiwx8JMhX);
  --token-GOTcOFj2gQm1: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-GOTcOFj2gQm1);
  --token-NRA9HHh2aGjA: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-NRA9HHh2aGjA);
  --token-Ng2RwoiAqAJd: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-Ng2RwoiAqAJd);
  --token-Kr6SNWKrk7ja: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-Kr6SNWKrk7ja);
  --token-ASowfNCA3nwg: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-ASowfNCA3nwg);
  --token-k9CRA3bJasjg: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-k9CRA3bJasjg);
  --token-qKc7-LZWAlQx: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-qKc7-LZWAlQx);
  --token-ZNUpvc5pgEIF: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-ZNUpvc5pgEIF);
  --token-xe7TKddK_CD2: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-xe7TKddK_CD2);
  --token-qSboH-XRI5uz: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-qSboH-XRI5uz);
  --token-1qBJi_8WHBBc: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-1qBJi_8WHBBc
  );
}

@media (max-width: 640px) {
  .plasmic_tokens {
    --token-SH2GlK2U7a6u: #00af65;
    --plasmic-token-green: var(--token-SH2GlK2U7a6u);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_theme_dark),
.plasmic_default_styles:where(
    .global_unnamedGlobalGroupOfVariants_unnamedVariant
  ) {
  --mixin-5O0HpgEV__5D_font-family: "yekan_bakh", sans-serif;
  --mixin-5O0HpgEV__5D_font-size: 14px;
  --mixin-5O0HpgEV__5D_font-weight: normal;
  --mixin-5O0HpgEV__5D_font-style: normal;
  --mixin-5O0HpgEV__5D_color: #535353;
  --mixin-5O0HpgEV__5D_text-align: left;
  --mixin-5O0HpgEV__5D_text-transform: none;
  --mixin-5O0HpgEV__5D_line-height: 1.5;
  --mixin-5O0HpgEV__5D_letter-spacing: normal;
  --mixin-5O0HpgEV__5D_white-space: pre-wrap;
  --mixin-wSTIQHUDDji1_font-family: "yekan_bakh", sans-serif;
  --mixin-wSTIQHUDDji1_color: #000000;
  --mixin-wSTIQHUDDji1_font-size: 72px;
  --mixin-wSTIQHUDDji1_font-weight: 900;
  --mixin-wSTIQHUDDji1_letter-spacing: -4px;
  --mixin-wSTIQHUDDji1_line-height: 1;
  --mixin-wSTIQHUDDji1_white-space: pre-wrap;
  --mixin-UCBzvi1CX9-K_font-family: "yekan_bakh", sans-serif;
  --mixin-UCBzvi1CX9-K_color: #000000;
  --mixin-UCBzvi1CX9-K_font-size: 48px;
  --mixin-UCBzvi1CX9-K_font-weight: 700;
  --mixin-UCBzvi1CX9-K_letter-spacing: -1px;
  --mixin-UCBzvi1CX9-K_line-height: 1.1;
  --mixin-UCBzvi1CX9-K_white-space: pre-wrap;
  --mixin-eEf_BHP-0Py5_font-family: "yekan_bakh", sans-serif;
  --mixin-eEf_BHP-0Py5_color: #000000;
  --mixin-eEf_BHP-0Py5_font-size: 32px;
  --mixin-eEf_BHP-0Py5_font-weight: 600;
  --mixin-eEf_BHP-0Py5_letter-spacing: -0.8px;
  --mixin-eEf_BHP-0Py5_line-height: 1.2;
  --mixin-eEf_BHP-0Py5_white-space: pre-wrap;
  --mixin-bOSS_HRqQB76_font-family: "yekan_bakh", sans-serif;
  --mixin-bOSS_HRqQB76_color: #000000;
  --mixin-bOSS_HRqQB76_font-size: 24px;
  --mixin-bOSS_HRqQB76_font-weight: 600;
  --mixin-bOSS_HRqQB76_letter-spacing: -0.5px;
  --mixin-bOSS_HRqQB76_line-height: 1.3;
  --mixin-bOSS_HRqQB76_white-space: pre-wrap;
  --mixin-aT0sr5VdOMrg_font-family: "yekan_bakh", sans-serif;
  --mixin-aT0sr5VdOMrg_color: #000000;
  --mixin-aT0sr5VdOMrg_font-size: 20px;
  --mixin-aT0sr5VdOMrg_font-weight: 600;
  --mixin-aT0sr5VdOMrg_letter-spacing: -0.3px;
  --mixin-aT0sr5VdOMrg_line-height: 1.5;
  --mixin-aT0sr5VdOMrg_white-space: pre-wrap;
  --mixin-HEzwZwzR42gL_font-family: "yekan_bakh", sans-serif;
  --mixin-HEzwZwzR42gL_color: #000000;
  --mixin-HEzwZwzR42gL_font-size: 16px;
  --mixin-HEzwZwzR42gL_font-weight: 600;
  --mixin-HEzwZwzR42gL_line-height: 1.5;
  --mixin-HEzwZwzR42gL_white-space: pre-wrap;
  --mixin-8Gpv8AQCQZXl_color: #0070f3;
  --mixin-8Gpv8AQCQZXl_white-space: pre-wrap;
  --mixin-D04_m6OkPmkO_color: #3291ff;
  --mixin-D04_m6OkPmkO_white-space: pre-wrap;
  --mixin-pxnXKRGwT7gG_border-left-color: #dddddd;
  --mixin-pxnXKRGwT7gG_border-left-style: solid;
  --mixin-pxnXKRGwT7gG_border-left-width: 3px;
  --mixin-pxnXKRGwT7gG_color: #888888;
  --mixin-pxnXKRGwT7gG_padding-left: 10px;
  --mixin-pxnXKRGwT7gG_white-space: pre-wrap;
  --mixin-S7C3jp56UhwF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-S7C3jp56UhwF_border-bottom-color: #dddddd;
  --mixin-S7C3jp56UhwF_border-bottom-style: solid;
  --mixin-S7C3jp56UhwF_border-bottom-width: 1px;
  --mixin-S7C3jp56UhwF_border-left-color: #dddddd;
  --mixin-S7C3jp56UhwF_border-left-style: solid;
  --mixin-S7C3jp56UhwF_border-left-width: 1px;
  --mixin-S7C3jp56UhwF_border-right-color: #dddddd;
  --mixin-S7C3jp56UhwF_border-right-style: solid;
  --mixin-S7C3jp56UhwF_border-right-width: 1px;
  --mixin-S7C3jp56UhwF_border-top-color: #dddddd;
  --mixin-S7C3jp56UhwF_border-top-style: solid;
  --mixin-S7C3jp56UhwF_border-top-width: 1px;
  --mixin-S7C3jp56UhwF_border-bottom-left-radius: 3px;
  --mixin-S7C3jp56UhwF_border-bottom-right-radius: 3px;
  --mixin-S7C3jp56UhwF_border-top-left-radius: 3px;
  --mixin-S7C3jp56UhwF_border-top-right-radius: 3px;
  --mixin-S7C3jp56UhwF_font-family: "yekan_bakh";
  --mixin-S7C3jp56UhwF_padding-bottom: 1px;
  --mixin-S7C3jp56UhwF_padding-left: 4px;
  --mixin-S7C3jp56UhwF_padding-right: 4px;
  --mixin-S7C3jp56UhwF_padding-top: 1px;
  --mixin-S7C3jp56UhwF_white-space: pre-wrap;
  --mixin--hEECaWyklDN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--hEECaWyklDN_border-bottom-color: #dddddd;
  --mixin--hEECaWyklDN_border-bottom-style: solid;
  --mixin--hEECaWyklDN_border-bottom-width: 1px;
  --mixin--hEECaWyklDN_border-left-color: #dddddd;
  --mixin--hEECaWyklDN_border-left-style: solid;
  --mixin--hEECaWyklDN_border-left-width: 1px;
  --mixin--hEECaWyklDN_border-right-color: #dddddd;
  --mixin--hEECaWyklDN_border-right-style: solid;
  --mixin--hEECaWyklDN_border-right-width: 1px;
  --mixin--hEECaWyklDN_border-top-color: #dddddd;
  --mixin--hEECaWyklDN_border-top-style: solid;
  --mixin--hEECaWyklDN_border-top-width: 1px;
  --mixin--hEECaWyklDN_border-bottom-left-radius: 3px;
  --mixin--hEECaWyklDN_border-bottom-right-radius: 3px;
  --mixin--hEECaWyklDN_border-top-left-radius: 3px;
  --mixin--hEECaWyklDN_border-top-right-radius: 3px;
  --mixin--hEECaWyklDN_font-family: "yekan_bakh";
  --mixin--hEECaWyklDN_padding-bottom: 3px;
  --mixin--hEECaWyklDN_padding-left: 6px;
  --mixin--hEECaWyklDN_padding-right: 6px;
  --mixin--hEECaWyklDN_padding-top: 3px;
  --mixin--hEECaWyklDN_white-space: pre-wrap;
  --mixin-DfXQSJvHMRYl_display: flex;
  --mixin-DfXQSJvHMRYl_flex-direction: column;
  --mixin-DfXQSJvHMRYl_align-items: stretch;
  --mixin-DfXQSJvHMRYl_justify-content: flex-start;
  --mixin-DfXQSJvHMRYl_list-style-position: outside;
  --mixin-DfXQSJvHMRYl_padding-left: 40px;
  --mixin-DfXQSJvHMRYl_position: relative;
  --mixin-DfXQSJvHMRYl_list-style-type: decimal;
  --mixin-DfXQSJvHMRYl_white-space: pre-wrap;
  --mixin-YRhtyXdrQnwR_display: flex;
  --mixin-YRhtyXdrQnwR_flex-direction: column;
  --mixin-YRhtyXdrQnwR_align-items: stretch;
  --mixin-YRhtyXdrQnwR_justify-content: flex-start;
  --mixin-YRhtyXdrQnwR_list-style-position: outside;
  --mixin-YRhtyXdrQnwR_padding-left: 40px;
  --mixin-YRhtyXdrQnwR_position: relative;
  --mixin-YRhtyXdrQnwR_list-style-type: disc;
  --mixin-YRhtyXdrQnwR_white-space: pre-wrap;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_theme_dark),
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
  --mixin-N3u9a1lSsgwB_box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-N3u9a1lSsgwB_box-shadow);
  --mixin-N3u9a1lSsgwB_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-N3u9a1lSsgwB_white-space
  );
  --mixin-I-_2wJ8JIoos_box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  --plasmic-mixin-app-shadow_box-shadow: var(--mixin-I-_2wJ8JIoos_box-shadow);
  --mixin-I-_2wJ8JIoos_white-space: pre-wrap;
  --plasmic-mixin-app-shadow_white-space: var(--mixin-I-_2wJ8JIoos_white-space);
  --mixin-Kpi0sKoB_4GV_box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  --plasmic-mixin-card-shadow-dark_box-shadow: var(
    --mixin-Kpi0sKoB_4GV_box-shadow
  );
  --mixin-Kpi0sKoB_4GV_white-space: pre-wrap;
  --plasmic-mixin-card-shadow-dark_white-space: var(
    --mixin-Kpi0sKoB_4GV_white-space
  );
  --mixin-SyA9byCVOD_J_box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.3);
  --plasmic-mixin-app-shadow-dark_box-shadow: var(
    --mixin-SyA9byCVOD_J_box-shadow
  );
  --mixin-SyA9byCVOD_J_white-space: pre-wrap;
  --plasmic-mixin-app-shadow-dark_white-space: var(
    --mixin-SyA9byCVOD_J_white-space
  );
  --mixin-nmCvpCJNlfiT_white-space: pre-wrap;
  --plasmic-mixin-select_white-space: var(--mixin-nmCvpCJNlfiT_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-5O0HpgEV__5D_font-family);
  font-size: var(--mixin-5O0HpgEV__5D_font-size);
  font-weight: var(--mixin-5O0HpgEV__5D_font-weight);
  font-style: var(--mixin-5O0HpgEV__5D_font-style);
  color: var(--mixin-5O0HpgEV__5D_color);
  text-align: var(--mixin-5O0HpgEV__5D_text-align);
  text-transform: var(--mixin-5O0HpgEV__5D_text-transform);
  line-height: var(--mixin-5O0HpgEV__5D_line-height);
  letter-spacing: var(--mixin-5O0HpgEV__5D_letter-spacing);
  white-space: var(--mixin-5O0HpgEV__5D_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-wSTIQHUDDji1_font-family);
  color: var(--mixin-wSTIQHUDDji1_color);
  font-size: var(--mixin-wSTIQHUDDji1_font-size);
  font-weight: var(--mixin-wSTIQHUDDji1_font-weight);
  letter-spacing: var(--mixin-wSTIQHUDDji1_letter-spacing);
  line-height: var(--mixin-wSTIQHUDDji1_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-UCBzvi1CX9-K_font-family);
  color: var(--mixin-UCBzvi1CX9-K_color);
  font-size: var(--mixin-UCBzvi1CX9-K_font-size);
  font-weight: var(--mixin-UCBzvi1CX9-K_font-weight);
  letter-spacing: var(--mixin-UCBzvi1CX9-K_letter-spacing);
  line-height: var(--mixin-UCBzvi1CX9-K_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-eEf_BHP-0Py5_font-family);
  color: var(--mixin-eEf_BHP-0Py5_color);
  font-size: var(--mixin-eEf_BHP-0Py5_font-size);
  font-weight: var(--mixin-eEf_BHP-0Py5_font-weight);
  letter-spacing: var(--mixin-eEf_BHP-0Py5_letter-spacing);
  line-height: var(--mixin-eEf_BHP-0Py5_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-bOSS_HRqQB76_font-family);
  color: var(--mixin-bOSS_HRqQB76_color);
  font-size: var(--mixin-bOSS_HRqQB76_font-size);
  font-weight: var(--mixin-bOSS_HRqQB76_font-weight);
  letter-spacing: var(--mixin-bOSS_HRqQB76_letter-spacing);
  line-height: var(--mixin-bOSS_HRqQB76_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-aT0sr5VdOMrg_font-family);
  color: var(--mixin-aT0sr5VdOMrg_color);
  font-size: var(--mixin-aT0sr5VdOMrg_font-size);
  font-weight: var(--mixin-aT0sr5VdOMrg_font-weight);
  letter-spacing: var(--mixin-aT0sr5VdOMrg_letter-spacing);
  line-height: var(--mixin-aT0sr5VdOMrg_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-HEzwZwzR42gL_font-family);
  color: var(--mixin-HEzwZwzR42gL_color);
  font-size: var(--mixin-HEzwZwzR42gL_font-size);
  font-weight: var(--mixin-HEzwZwzR42gL_font-weight);
  line-height: var(--mixin-HEzwZwzR42gL_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-8Gpv8AQCQZXl_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-D04_m6OkPmkO_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-pxnXKRGwT7gG_color);
  padding-left: var(--mixin-pxnXKRGwT7gG_padding-left);
  border-left: var(--mixin-pxnXKRGwT7gG_border-left-width)
    var(--mixin-pxnXKRGwT7gG_border-left-style)
    var(--mixin-pxnXKRGwT7gG_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-S7C3jp56UhwF_font-family);
  border-radius: var(--mixin-S7C3jp56UhwF_border-top-left-radius)
    var(--mixin-S7C3jp56UhwF_border-top-right-radius)
    var(--mixin-S7C3jp56UhwF_border-bottom-right-radius)
    var(--mixin-S7C3jp56UhwF_border-bottom-left-radius);
  padding: var(--mixin-S7C3jp56UhwF_padding-top)
    var(--mixin-S7C3jp56UhwF_padding-right)
    var(--mixin-S7C3jp56UhwF_padding-bottom)
    var(--mixin-S7C3jp56UhwF_padding-left);
  border-top: var(--mixin-S7C3jp56UhwF_border-top-width)
    var(--mixin-S7C3jp56UhwF_border-top-style)
    var(--mixin-S7C3jp56UhwF_border-top-color);
  border-right: var(--mixin-S7C3jp56UhwF_border-right-width)
    var(--mixin-S7C3jp56UhwF_border-right-style)
    var(--mixin-S7C3jp56UhwF_border-right-color);
  border-bottom: var(--mixin-S7C3jp56UhwF_border-bottom-width)
    var(--mixin-S7C3jp56UhwF_border-bottom-style)
    var(--mixin-S7C3jp56UhwF_border-bottom-color);
  border-left: var(--mixin-S7C3jp56UhwF_border-left-width)
    var(--mixin-S7C3jp56UhwF_border-left-style)
    var(--mixin-S7C3jp56UhwF_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--hEECaWyklDN_font-family);
  border-radius: var(--mixin--hEECaWyklDN_border-top-left-radius)
    var(--mixin--hEECaWyklDN_border-top-right-radius)
    var(--mixin--hEECaWyklDN_border-bottom-right-radius)
    var(--mixin--hEECaWyklDN_border-bottom-left-radius);
  padding: var(--mixin--hEECaWyklDN_padding-top)
    var(--mixin--hEECaWyklDN_padding-right)
    var(--mixin--hEECaWyklDN_padding-bottom)
    var(--mixin--hEECaWyklDN_padding-left);
  border-top: var(--mixin--hEECaWyklDN_border-top-width)
    var(--mixin--hEECaWyklDN_border-top-style)
    var(--mixin--hEECaWyklDN_border-top-color);
  border-right: var(--mixin--hEECaWyklDN_border-right-width)
    var(--mixin--hEECaWyklDN_border-right-style)
    var(--mixin--hEECaWyklDN_border-right-color);
  border-bottom: var(--mixin--hEECaWyklDN_border-bottom-width)
    var(--mixin--hEECaWyklDN_border-bottom-style)
    var(--mixin--hEECaWyklDN_border-bottom-color);
  border-left: var(--mixin--hEECaWyklDN_border-left-width)
    var(--mixin--hEECaWyklDN_border-left-style)
    var(--mixin--hEECaWyklDN_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-DfXQSJvHMRYl_display);
  flex-direction: var(--mixin-DfXQSJvHMRYl_flex-direction);
  align-items: var(--mixin-DfXQSJvHMRYl_align-items);
  justify-content: var(--mixin-DfXQSJvHMRYl_justify-content);
  list-style-position: var(--mixin-DfXQSJvHMRYl_list-style-position);
  padding-left: var(--mixin-DfXQSJvHMRYl_padding-left);
  position: var(--mixin-DfXQSJvHMRYl_position);
  list-style-type: var(--mixin-DfXQSJvHMRYl_list-style-type);
  column-gap: var(--mixin-DfXQSJvHMRYl_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-YRhtyXdrQnwR_display);
  flex-direction: var(--mixin-YRhtyXdrQnwR_flex-direction);
  align-items: var(--mixin-YRhtyXdrQnwR_align-items);
  justify-content: var(--mixin-YRhtyXdrQnwR_justify-content);
  list-style-position: var(--mixin-YRhtyXdrQnwR_list-style-position);
  padding-left: var(--mixin-YRhtyXdrQnwR_padding-left);
  position: var(--mixin-YRhtyXdrQnwR_position);
  list-style-type: var(--mixin-YRhtyXdrQnwR_list-style-type);
  column-gap: var(--mixin-YRhtyXdrQnwR_column-gap);
}
